<% content_for :page_title, "Resend confirmation instructions" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Resend confirmation instructions</h1>

    <%= render "users/shared/end_user_warning" %>

    <%= form_with url: confirmation_path(resource_name),
                  html: { method: :post, novalidate: "" },
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
      <%= f.govuk_email_field :email, label: { text: "Enter your email address" } %>
      <%= f.govuk_submit "Resend confirmation instructions" %>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
