<%= form_with model: @form, url: users_confirmations_path, method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-l">Create a GovWifi administrator account</h1>

  <div class="govuk-inset-text">
    Create an account only if you will be the administrator for your organisation. To connect to GovWifi for individual use, follow the instructions to <%= link_to "create a GovWifi account and connect to GovWifi", SITE_CONFIG["end_user_docs_link"], class: "govuk-link" %>.
  </div>

  <%= f.hidden_field :confirmation_token %>
  <% organisation_name_hint = capture do %>
    If your organisation name does not appear below
    <%= link_to "contact us", technical_support_new_help_path, class: "govuk-link" %>
  <% end %>
    <%= f.govuk_select :organisation_name,
                       options_for_select(@register_organisations << "", @form.organisation_name || ""),
                       label: { text: "Organisation name" },
                       hint: -> { organisation_name_hint } %>
  <%= f.govuk_text_field :service_email,
                         label: { text: "Service email" },
                         hint: { text: "A shared and monitored email so we can contact your organisation about GovWifi" } %>
  <%= f.govuk_text_field :name, label: { text: "Your name" } %>
  <%= f.govuk_password_field :password, hint: { text: "Must be at least 6 characters long" } %>
  <%= f.govuk_submit "Create my account" %>
<% end %>

<%= render "users/shared/links" %>

<%= render "shared/organisation_register_dropdown" %>
