<%= render "layouts/form_errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Create your account</h2>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_for(resource, as: resource_name, url: users_confirmations_path, html: { method: :put }) do |f| %>
        <%= f.hidden_field :confirmation_token, value: params[:confirmation_token] || params[:user][:confirmation_token] %>

        <div class="govuk-form-group <%= field_error(resource, :organisation) %>">
          <%= f.fields_for :organisation, resource.build_organisation do |organisation_form| %>
            <%= organisation_form.label :name, "Organisation name", class: "govuk-label" %>
            <%= organisation_form.text_field :name, autofocus: true, class: "govuk-input", required: true %>
          <% end %>
        </div>

        <div class="govuk-form-group">
          <%= f.label :name, "Your name", class: "govuk-label" %>
          <%= f.text_field :name, class: "govuk-input", required: true %>
        </div>

        <div class="<%= field_error(resource, :password) %>">
          <div class="govuk-form-group ">
            <%= f.label :password, "Password", class: "govuk-label" %>
            <%= f.password_field :password, class: "govuk-input", autocomplete: "off", required: true %>
          </div>

          <div class="govuk-form-group">
            <%= f.label :password_confirmation, "Confirm password", class: "govuk-label" %>
            <%= f.password_field :password_confirmation, class: "govuk-input", autocomplete: "off", required: true %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Create my account", class: "govuk-button govuk-!-margin-top-2" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
