<div class="govuk-grid-row">
  <h2 class="govuk-heading-l govuk-grid-column-full">Something’s wrong with my admin account</h2>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-inset-text">
      We publish our guidance on how to setup and manage the service in our
      <%= link_to 'documentation.', SITE_CONFIG['organisation_docs_link'], class: "govuk-link" %>
    </div>


    <%= form_tag('/help') do %>
    <div class="govuk-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="name">Your name</label>
        <%= text_field_tag 'name', nil, class: 'govuk-input', type: 'text' %>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="email"> Your email address</label>
        <%= text_field_tag 'email', nil, class: 'govuk-input' %>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="organisation"> Name of the organisation affected</label>
        <%= text_field_tag 'organisation', nil, class: 'govuk-input' %>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="details">Tell us a bit more about your issue</label>
        <%= text_area_tag 'details', nil, rows: 9, class: 'govuk-textarea' %>
      </div>

      <%= submit_tag 'Submit', class: 'govuk-button' %>
    <% end %>
    </div>

  </div>

