<div class="govuk-grid-row">
  <h2 class="govuk-heading-l govuk-grid-column-full">Ask a question or leave feedback</h2>
  <div class="govuk-grid-column-two-thirds">
    <%= form_tag('/help') do %>
    <div class="govuk-two-thirds">
      <div class="govuk-form-group">
        <label class="govuk-label" for="details">Your message</label>
        <%= text_area_tag :details, nil, rows: 10, class: 'govuk-textarea' %>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="name">Name</label>
        <%= text_field_tag :name, nil, class: 'govuk-input', type: 'text' %>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="email">Email address</label>
        <%= text_field_tag :email, nil, class: 'govuk-input' %>
      </div>
      <%= submit_tag 'Send', class: 'govuk-button' %>
    <% end %>
    </div>

  </div>

