<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Get support</h2>
    <p class="govuk-body">

      <div class="govuk-details">
        <h2 class="govuk-heading-s">
          End user connection issues
        </h2>
          <p class="govuk-body">
            If an end user is having trouble with GovWifi, we recommend directing them to
            <%= link_to 'our guidance on common issues', SITE_CONFIG['end_user_troubleshooting_link'], class: "govuk-link" %>.
          </p>
          <p class="govuk-body">
            If this doesn't resolve the issue, we recommend they contact their
            local support - we don't provide end user support directly.
          </p>
          <p class="govuk-body">
            If you're seeing systemic issues with GovWifi - lots of your end
            users are having trouble, but your access point is connecting to our
            RADIUS servers correctly, please contact us below.
          </p>
      </div>
    </p>

    <p class="govuk-body">
      <h2 class="govuk-heading-s">Before you contact us</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><%= link_to 'Check the GovWifi service status', status_index_path, class: "govuk-link" %></li>
        <li>Check your <%= link_to 'configured IP addresses', ips_path, class: "govuk-link" %> match your authenticator IPs </li>
        <li>Check your authenticators have the right RADIUS secret keys</li>
        <li>Try logging in as an end user, then <%= link_to 'search our logs', search_logs_path, class: "govuk-link" %></li>
        <li><%= link_to 'Browse the technical documentation', SITE_CONFIG['organisation_docs_link'], class: "govuk-link" %></li>
      </ul>
    <p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">

  <%= form_tag('/help') do %>
    <div class="govuk-two-thirds">
      <h2 class="govuk-heading-l">Contact us</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="contact_number">
          Contact number (optional)
        </label>
        <%= text_field_tag 'contact_number', nil, class: 'govuk-input', type: 'tel' %>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="subject">
          Subject
        </label>
        <%= text_field_tag 'subject', nil, class: 'govuk-input' %>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="details">
          Describe your problem
        </label>
        <%= text_area_tag 'details', nil, rows: 9, class: 'govuk-textarea' %>
      </div>

      <%= submit_tag 'Submit', class: 'govuk-button' %>
    </div>
  <% end %>
  </div>
</div>
