<div><% content_for :page_title, "GovWifi administrator support" %></div>
<div><% content_for :meta_description, "Help and support for administrators installing or managing GovWifi in public sector organisations." %></div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">GovWifi administrator support</h1>
    <div class="govuk-details">
    <p>
      We provide guidance on how to set up and manage GovWifi in your organisation in our
      <%= link_to "technical documentation", SITE_CONFIG["organisation_docs_link"], class: "govuk-link" %>.
    </p>
    <p>
      If users in your organisation are having trouble connecting devices to GovWifi, please refer them to our <%= link_to "user support guidance", "https://www.wifi.service.gov.uk/support/", class: "govuk-link" %> on common issues.
    </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              How can we help?
          </legend>

          <%= form_tag new_help_path, class: "govuk-radios", method: "get" do %>
            <div class="govuk-radio">
              <div class="govuk-radios__item">
                <%= radio_button_tag(:choice, :technical_support, nil, class: "govuk-radios__input") %>
                <%= label_tag(:choice_technical_support, "Setting up GovWifi in your organisation support", class: "govuk-label govuk-radios__label") %>
              </div>
              <div class="govuk-radios__item">
                <%= radio_button_tag(:choice, :admin_account, nil, class: "govuk-radios__input") %>
                <%= label_tag(:choice_admin_account, "Managing GovWifi in your organisation support", class: "govuk-label govuk-radios__label") %>
              </div>
              <div class="govuk-radios__item">
                <%= radio_button_tag(:choice, :user_support, nil, class: "govuk-radios__input") %>
                <%= label_tag(:choice_user_support, "Request GovWifi user information", class: "govuk-label govuk-radios__label govuk-!-margin-bottom-4") %>
              </div>
            </div>
            <%= submit_tag("Continue", class: "govuk-button") %>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
