<% mou_attached = organisation.signed_mou.attached? %>

<% if mou_attached %>
  <p class="govuk-body">
    A signed MOU was uploaded on <%= organisation.signed_mou.attachment.created_at.strftime("%e %b %Y") %>,
    <%= link_to "download and view the document.", rails_blob_path(organisation.signed_mou, disposition: "attachment"), class: "govuk-link" %>
  </p>

  <h3 class="govuk-heading-m">Replace MOU</h3>
  <p class="govuk-body">Manually replace this organisation's signed MOU. This will overwrite the existing document.</p>
<% else %>
  <p class="govuk-body">This organisation has not uploaded an MOU.</p>
  <h3 class="govuk-heading-m">Upload MOU</h3>
  <p class="govuk-body">Manually upload this organisation's signed MOU</p>
<% end %>

<div id="mou-upload-form">
  <%= form_with url: super_admin_mou_index_path(id: organisation.id),local: true, method: "post" do |form| %>
    <div class="govuk-form-group">
      <%= form.file_field(:signed_mou, class: "govuk-file-upload") %>
    </div>

    <% submit_text = mou_attached ? "Replace MOU" : "Upload MOU" %>
    <%= form.submit(submit_text, class: "govuk-button") %>
  <% end %>
</div>
