<% mou_attached = organisation.signed_mou.attached? %>

<% if mou_attached %>
  <p class="govuk-body">
    A signed MOU was uploaded on <%= organisation.signed_mou.attachment.created_at.strftime("%e %b %Y") %>,
    <%= link_to "download and view the document.", rails_blob_path(organisation.signed_mou, disposition: "attachment"), class: "govuk-link" %>
  </p>

  <h2 class="govuk-heading-m">Replace MOU</h2>
  <p class="govuk-body">Manually replace this organisation's signed MOU. This will overwrite the existing document.</p>
<% else %>
  <p class="govuk-body">This organisation has not uploaded an MOU.</p>
  <h2 class="govuk-heading-m">Upload MOU</h2>
  <p class="govuk-body">Manually upload this organisation's signed MOU</p>
<% end %>

<div id="mou-upload-form">
  <%= form_with url: super_admin_mou_index_path(id: organisation.id) do |form| %>
    <%= form.govuk_file_field(:signed_mou) %>
    <%= form.govuk_submit("#{mou_attached ? 'Replace' : 'Upload'} MOU") %>
  <% end %>
</div>
