<% if team.any? %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= sort_link "name", "Username" %></th>
      <th scope="col" class="govuk-table__header"><%= sort_link "last_sign_in_at", "Last login" %></th>
      <th scope="col" class="govuk-table__header"><%= sort_link "sign_in_count", "Logins" %></th>
      <th scope="col" class="govuk-table__header"><%= sort_link "email", "Email" %></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% team.each do |user| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= user.name %></td>
          <td class="govuk-table__cell">
            <% if user.current_sign_in_at.present? %>
                <%= user.current_sign_in_at.strftime("%-d %b %Y") %>
            <% end %>
            </td>
          <td class="govuk-table__cell text-right"><%= user.sign_in_count %></td>
          <td class="govuk-table__cell text-right"><%= user.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="govuk-body">This organisation has no team members.</p>
<% end %>
