<% content_for :page_title, "All organisations" %>

<h1 class="govuk-heading-l">All organisations</h1>
<p class="govuk-body">
  GovWifi is in
  <span class="govuk-!-font-weight-bold">
    <%= pluralize(@location_count, "location") %>
  </span>
   across
  <span class="govuk-!-font-weight-bold">
    <%= pluralize(@organisations.length, "organisation") %>.
  </span>
</p>

<div class="govuk-!-margin-top-1">
  <%= link_to "Download all organisations in CSV format",
              super_admin_organisations_path(format: "csv"),
              class: "govuk-link" %>
  <br />
  <%= link_to "Download all service emails in CSV format",
              service_emails_super_admin_organisations_path(format: "csv"),
              class: "govuk-link" %>
</div>
<p>
  <label class="govuk-label" for="filter-input">Search by organisation name</label>
  <input type="search" id="filter-input" class="govuk-input" autocomplete="off">
</p>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half" scope="row"><%= sort_link "name" %></th>
      <th class="govuk-table__header" scope="row"><%= sort_link "created_at", "Created on" %></th>
      <th class="govuk-table__header govuk-table__header" scope="row"><%= sort_link "mous.created_at", "MOU Signed" %></th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="row"><%= sort_link "locations_count", "Locations" %></th>
      <th class="govuk-table__header govuk-table__header--numeric"><%= sort_link "ips_count", "IPs" %></th>
      <th class="govuk-table__header" scope="row"><%= sort_link "certificates_count", "Uses EAP-TLS" %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body" aria-live="polite">
    <% @organisations.each do |organisation| %>
      <tr class="govuk-table__row result-row">
        <th class="govuk-table__cell govuk-!-width-one-half" scope="row">
          <%= link_to organisation.name, super_admin_organisation_path(organisation), class: "govuk-link filter-by" %>
        </th>
        <td class="govuk-table__cell">
          <%= organisation.created_at.strftime("%e %b %Y") %>
        </td>
        <td class="govuk-table__cell govuk-table__cell">
          <% if organisation.latest_mou_created_at.present? %>
            <%= organisation.latest_mou_created_at.strftime("%e %b %Y") %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= organisation.locations_count %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= organisation.ips_count %>
        </td>
        <td class="govuk-table__cell govuk-table__cell">
          <%= organisation.certificates.empty? ? "no" : "yes" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div role="status">
  <p class="govuk-body" id="no-results" style="display: none">
    <strong>No results found</strong>
  </p>
</div>

<%= render "shared/filter_search" %>
