<% content_for :page_title, @organisation.name.to_s %>

<div class="govuk-grid-row">
  <%= render "confirm_remove_organisation" if params[:remove_organisation] %>

  <div class="govuk-grid-column-full">
    <%= link_to "Back to list", super_admin_organisations_path, class: "govuk-back-link" %>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2 govuk-!-margin-top-2">
      <%= @organisation.name %>
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-8">
      GovWifi organisation since <%= @organisation.created_at.strftime(
                                       "#{@organisation.created_at.day.ordinalize} of %B, %Y",
                                     ) %>
    </p>

    <%= render "section", heading: "Usage" do %>
      <%= render "usage", organisation: @organisation %>
    <% end %>

    <%= render "section", heading: "Service Email" do %>
      <p class="govuk-body"><%= @organisation.service_email %></p>
    <% end %>

    <%= render "section", heading: "Team" do %>
      <%= render "team", team: @team %>
    <% end %>

    <%= render "section", heading: "CBA" do %>
      <%= render "cba_form", organisation: @organisation %>
    <% end %>

    <%= render "section", heading: "Locations" do %>
      <%== pagy_nav_govuk(@pagy) %>
      <%= render "locations", locations: @locations %>
    <% end %>

    <%= render "section", heading: "IPs" do %>
      <% @locations.each do |location| %>
        <%= render partial: "shared/manage_ips", locals: { location:, show_ip_controls: false } %>
      <% end %>
    <% end %>
    <%== pagy_nav_govuk(@pagy) %>
    <%= link_to "Delete organisation", super_admin_organisation_path(@organisation, remove_organisation: true), class: "govuk-button red-button", role: "button", draggable: "false", "data-module" => "govuk-button" %>
  </div>
</div>
