<h1 class="govuk-heading-l">Add the organisation's email domain to the allow list</h1>

<%= form_with model: @whitelist, url: new_super_admin_whitelist_path, method: :get do |form| %>
  <%= form.govuk_error_summary %>
  <%= form.govuk_text_field :email_domain, label: { text: "Email domain" } %>
  <%= form.hidden_field :admin %>
  <%= form.hidden_field :register %>
  <%= form.hidden_field :organisation_name %>
  <%= form.hidden_field :step, value: Whitelist::SIXTH %>
  <%= form.govuk_submit "Continue" %>
<% end %>
