<h1 class="govuk-heading-l">You've entered the following info</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Question</th>
      <th class="govuk-table__header" scope="col">Your answer</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-body">Does the organisation need to create a GovWifi admin account?</th>
      <td class="govuk-table__cell"><%= @whitelist.admin %></td>
    </tr>

    <% if @whitelist.register.present? %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell govuk-body">Is the organisation's name on the register?</th>
        <td class="govuk-table__cell"><%= @whitelist.register %></td>
      </tr>
    <% end %>

    <% if @whitelist.organisation_name.present? %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__cell govuk-body">Organisation name</th>
        <td class="govuk-table__cell"><%= @whitelist.organisation_name %></td>
      </tr>
    <% end %>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-body">Email domain</th>
      <td class="govuk-table__cell"><%= @whitelist.email_domain %></td>
    </tr>
  </tbody>
</table>

<%= form_with model: @whitelist, url: super_admin_whitelist_path do |form| %>
    <%= form.hidden_field :organisation_name %>
    <%= form.hidden_field :email_domain %>
    <%= form.hidden_field :admin %>
    <%= form.hidden_field :register %>
    <%= form.govuk_submit "Submit" %>
<% end %>
