
<% @member_groups.each do |group| %>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    <%= group[:heading] %>
    <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-display-inline-block">
      (<%= group[:users].length %>)
    </span>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <% group[:users].each do |member| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= member.name %>
          <% if member.invitation_pending? || member.pending_membership_for?(organisation: current_organisation) %>
            <span class="govuk-hint govuk-!-margin-bottom-0 govuk-!-display-inline-block">(invited)</span>
          <% end %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= member.email %>
        </dd>

        <dd class="govuk-summary-list__actions">
          <ul class="govuk-summary-list__actions-list">
            <% if current_user.can_manage_team?(current_organisation) && member.id != current_user.id %>
              <li class="govuk-summary-list__actions-list-item">
                <%= link_to(
                      edit_membership_path(member.membership_for(current_organisation)),
                      class: "govuk-link govuk-link--no-visited-state",
                    ) do %>
                  Edit permissions <span class='govuk-visually-hidden'>for <%= member.email %></span>
                <% end %>
              </li>
              <% if member.totp_enabled? %>
                <li class="govuk-summary-list__actions-list-item">
                  <%= link_to({ controller: "users/two_factor_authentication", action: "edit", id: member },
                              class: "govuk-link govuk-link--no-visited-state") do %>
                    Reset 2FA <span class='govuk-visually-hidden'>for <%= member.email %></span>
                  <% end %>
                </li>
              <% end %>
              <% if member.invitation_pending? %>
                <li class="govuk-summary-list__actions-list-item">
                  <%= button_to("Resend invite",
                                user_invitation_path(user: { email: member.email }, resend: true),
                                "aria-label" => "Resend invite to #{member.email}",
                                method: :post,
                                class: "button-as-link govuk-body") %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </dd>
      </div>
    <% end %>
  </dl>
<% end %>
