<div class='govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-3'></div>

<ul class='govuk-list membership-list govuk-width-container govuk-!-margin-left-0'>
  <% team_members.each do |member| %>
    <li class='govuk-!-margin-bottom-1'>
      <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds'>
          <% if member.invitation_pending? || member.pending_membership_for?(organisation: current_organisation) %>
            <h2 class='govuk-heading-s govuk-!-margin-bottom-0'><%= member.name %>
              <span class='govuk-!-padding-left-1 govuk-body text-dark-grey'><%= member.email %> (invited)</span>
            </h2>
            <% else %>
            <h2 class='govuk-heading-s govuk-!-margin-bottom-0'><%= member.name %>
              <span class='govuk-!-padding-left-1 govuk-body text-dark-grey'><%= member.email %></span>
            </h2>
          <% end %>

          <ul class='govuk-list govuk-!-margin-bottom-2 govuk-!-margin-top-1' id='member-<%= member.id %>-permissions'>
            <li>
              <%= image_tag "tick.svg", class: "list-item-padding", height: "30", alt: "allowed" %>
              <span class='govuk-!-padding-left-1'>View logs</span>
            </li>
            <li>
              <%= image_tag "tick.svg", class: "list-item-padding", height: "30", alt: "allowed" %>
              <span class='govuk-!-padding-left-1'>View team members</span>
            </li>
            <li>
              <% if member.can_manage_team?(current_organisation) %>
                <%= image_tag "tick.svg", class: "list-item-padding", height: "30", alt: "allowed" %>
                <span class='govuk-!-padding-left-1'>Add and remove team members</span>
              <% else %>
                <%= image_tag "cross.svg", class: "list-item-padding", height: "30", alt: "not allowed" %>
                <span class='govuk-!-padding-left-1 text-dark-grey'>Add and remove team members</span>
              <% end %>
            </li>
            <li>
              <%= image_tag "tick.svg", class: "list-item-padding", height: "30", alt: "allowed" %>
              <span class='govuk-!-padding-left-1'>View locations and IP addresses</span>
            </li>
            <li>
              <% if member.can_manage_locations?(current_organisation) %>
                <%= image_tag "tick.svg", class: "list-item-padding", height: "30", alt: "allowed" %>
                <span class='govuk-!-padding-left-1'>Add and remove locations and IP addresses</span>
              <% else %>
                <%= image_tag "cross.svg", class: "list-item-padding", height: "30", alt: "not allowed" %>
                <span class='govuk-!-padding-left-1 text-dark-grey'>Add and remove locations and IP addressess</span>
              <% end %>
            </li>
          </ul>
        </div>

        <div class='govuk-grid-column-one-third govuk-list govuk-!-padding-right-4 govuk-!-margin-top-0 text-right'>
          <% if current_user.can_manage_team?(current_organisation) && member.id != current_user.id %>
            <%= link_to "Edit permissions", edit_membership_path(member.membership_for(current_organisation)), class: "govuk-link govuk-link--no-visited-state" %>
            <% if member.totp_enabled? %>
              <%= link_to "Reset 2FA",
                          { controller: "users/two_factor_authentication", action: "edit", id: member },
                          class: "govuk-link govuk-link--no-visited-state" %>
            <% end %>

            <% if member.invitation_pending? && current_user.can_manage_team?(current_organisation) %>
              <%= button_to("Resend invite",
                            user_invitation_path(user: { email: member.email }, resend: true),
                            method: :post, class: "button-as-link govuk-body") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>

    <div class='govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-4'></div>
  <% end %>
</ul>
