<div class='govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-3'></div>

<ul class='govuk-list membership-list govuk-width-container govuk-!-margin-left-0'>
  <% team_members.each do |member| %>
    <li class='govuk-!-margin-bottom-1'>
      <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds'>
          <h2 class='govuk-heading-m govuk-!-margin-bottom-0'>
            <%= member.name %>
          </h2>
          <p class='govuk-body text-dark-grey'>
            <%= member.email %>
            <% if member.invitation_pending? || member.pending_membership_for?(organisation: current_organisation) %>(invited)<% end %>
          </p>
          <h3 class='govuk-heading-s'>
            Permissions
          </h3>
          <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
              <dt style="width:70%" class="govuk-summary-list__key govuk-!-font-weight-regular">
                View logs
              </dt>
              <dd style="width:30%" class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt style="width:70%" class="govuk-summary-list__key govuk-!-font-weight-regular">
                View team members
              </dt>
              <dd style="width:30%" class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt style="width:70%" class="govuk-summary-list__key govuk-!-font-weight-regular">
                Add and remove team members
              </dt>
              <dd style="width:30%" class="govuk-summary-list__value">
                <% if member.can_manage_team?(current_organisation) %>
                  Yes
                <% else %>
                  No
                <% end %>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt style="width:70%" class="govuk-summary-list__key govuk-!-font-weight-regular">
                View locations and IP addresses
              </dt>
              <dd style="width:30%" class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt style="width:70%" class="govuk-summary-list__key govuk-!-font-weight-regular">
                Add and remove locations and IP addresses
              </dt>
              <dd style="width:30%" class="govuk-summary-list__value">
                <% if member.can_manage_locations?(current_organisation) %>
                  Yes
                <% else %>
                  No
                <% end %>
              </dd>
            </div>
          </dl>
        </div>

        <div class='govuk-grid-column-one-third govuk-list govuk-!-padding-right-4 govuk-!-margin-top-0 text-right'>
          <% if current_user.can_manage_team?(current_organisation) && member.id != current_user.id %>
            <%= link_to "Edit permissions", edit_membership_path(member.membership_for(current_organisation)), class: "govuk-link govuk-link--no-visited-state" %>
            <% if member.totp_enabled? %>
              <%= link_to "Reset 2FA",
                          { controller: "users/two_factor_authentication", action: "edit", id: member },
                          class: "govuk-link govuk-link--no-visited-state" %>
            <% end %>

            <% if member.invitation_pending? && current_user.can_manage_team?(current_organisation) %>
              <%= button_to("Resend invite",
                            user_invitation_path(user: { email: member.email }, resend: true),
                            method: :post, class: "button-as-link govuk-body") %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>

    <div class='govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-4'></div>
  <% end %>
</ul>
