<% content_for :page_title, "Manage team member" %>

<%= render "confirm_remove_team_member" if params[:remove_team_member] %>
<%= render "confirm_change_permissions" if params[:membership].present? && params[:membership][:confirm_change_permissions] %>

<h1 class="govuk-heading-l govuk-!-margin-top-2 govuk-!-margin-bottom-3">
  <% if @membership.user.name.present? %>
    Manage permissions for <%= @membership.user.name %>
  <% else %>
    Manage permissions
  <% end %>
</h1>
<p class="govuk-body govuk-!-margin-bottom-4"> <%= @membership.user.email %> </p>

<%= render "memberships/minimum_two_administrators_required" %>

<%= form_with model: @membership, url: edit_membership_path(@membership), method: :get do |form| %>
  <% permission_level = params.dig(:membership, :permission_level) %>
  <% @membership.permission_level = permission_level if permission_level.present? %>
  <%= form.govuk_collection_radio_buttons(:permission_level, @permission_level_data, :value, :text, :hint,
                                          legend: { size: "s", text: "Permission level" }) %>
  <%= form.hidden_field :confirm_change_permissions, value: true %>

  <%= form.govuk_submit "Save" %>
<% end %>

<div class="govuk-body govuk-!-margin-top-2 inline-block">
  <%= link_to "Remove user from GovWifi admin", edit_membership_path(@membership, remove_team_member: true), class: "govuk-link red-link" %>
</div>
