<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Memorandum of Understanding</h2>
      <hr class="govuk-section-break--m govuk-section-break--visible">
    <h3 class="govuk-heading-m"> 1. Download MOU </h3>
      <p class="govuk-body"><%= link_to "Download MOU", rails_blob_path(Mou.first.unsigned_template, disposition: "attachment") %></p>
    <hr class="govuk-section-break--m govuk-section-break--visible">
    <div>
      <h3 class="govuk-heading-m"> 2. Upload a copy of the signed MOU </h3>
      <p class="govuk-body"> Most recent upload: <%= link_to 'Download current MOU', rails_blob_path(Mou.first.unsigned_template, disposition: "attachment") %> </p>
      <p class="govuk-body">
        <%= form_with url: upload_mou_index_path do |form| %>
          <%= form.file_field(:signed_mou) %>
          <%= form.submit('Upload') %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<%= link_to "Getting help", help_index_path, class: 'govuk-link' %>
