<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Sign your agreement</h2>
    <p class="govuk-body">You must sign a memorandum of understanding (MOU) to use GovWifi.</p>
    <% if @mou %>
      <ul class="govuk-list govuk-list">
        <li>1. <%= link_to "Download a copy of the MOU", rails_blob_path(@mou, disposition: "attachment"), class: "govuk-link" %></li>
        <li>2. Sign the document</li>
        <li>3. Upload your signed MOU</li>
      </ul>
    <% else %>
      <p class="govuk-body">
        The MOU template is not yet available for download. Contact us via our
        <%= link_to "support form", help_index_path, class: "govuk-link" %> if you need a copy.
      </p>
    <% end %>

    <% if @current_org_signed_mou %>
      <p class="govuk-body">
        A signed MoU was uploaded on <%= @current_org_signed_mou.created_at.strftime('%e %b %Y') %>,
        <%= link_to "download and view the document.", rails_blob_path(@current_org_signed_mou, disposition: "attachment"), class: "govuk-link" %>
      </p>
      <h3 class="govuk-heading-m">Replace MoU</h3>
      <p class="govuk-body">Manually replace your organisation's signed MoU. This will overwrite the existing document.</p>
    <% else %>
      <p class="govuk-body">You have not uploaded a signed MoU yet</p>
    <% end %>

    <div>
      <%= form_with url: mou_index_path(organisation_uuid: current_organisation.uuid), method: 'post' do |form| %>
        <div class="govuk-form-group">
          <%= form.file_field(:signed_mou, class: 'govuk-file-upload') %>
        </div>
        <% submit_text = @current_org_signed_mou ? 'Replace MOU' : 'Upload MOU' %>
        <%= form.submit(submit_text, class: 'govuk-button') %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Getting help", help_index_path, class: 'govuk-link' %>
