<% content_for :page_title, "Memorandum of understanding" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <%= link_to "Back to settings", settings_path, class: "govuk-back-link" %>
    <h1 class="govuk-heading-l">Sign the memorandum of understanding</h1>
    <p class="govuk-body">You must sign a memorandum of understanding (MOU) to use GovWifi.</p>
    <% if @mou %>
      <ol class="govuk-list govuk-list--number">
        <li><%= link_to "Download a copy of the MOU.", rails_blob_path(@mou, disposition: "attachment"), class: "govuk-link" %></li>
        <li>Sign the document.</li>
        <li>Upload your signed MOU.</li>
      </ol>
      <p class="govuk-body">The MOU must be signed by someone in your organisation who has permission to sign off and procure services.</p>
    <% else %>
      <p class="govuk-body">
        The MOU template is not yet available for download.
        <%= link_to "Contact us", help_index_path, class: "govuk-link" %> if you need a copy.
      </p>
    <% end %>

    <% if @current_org_signed_mou %>
      <p class="govuk-body">
        A signed MOU was uploaded on <%= @current_org_signed_mou.created_at.strftime("%e %b %Y") %>,
        <%= link_to "Download and view your signed MOU.", rails_blob_path(@current_org_signed_mou, disposition: "attachment"), class: "govuk-link" %>
      </p>
      <h2 class="govuk-heading-m">Replace your MOU</h2>
      <p class="govuk-body">Manually replace your organisation's signed MOU. This will overwrite the existing document.</p>
    <% else %>
      <p class="govuk-body">You have not uploaded a signed MOU yet.</p>
    <% end %>

    <div>
      <%= form_with url: mou_index_path do |form| %>
        <%= form.govuk_file_field :signed_mou, label: { text: "Choose a file to upload:" } %>
        <%= form.govuk_submit "#{@current_org_signed_mou ? 'Replace' : 'Upload'} MOU" %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Contact GovWifi support", help_index_path, class: "govuk-link" %>
