<% content_for :page_title, "Memorandum of understanding" %>

<div class="govuk-form-group">
  <%= link_to "Back to settings", settings_path, class: "govuk-back-link" %>

  <%= form_with model: @mou, url: mou_index_path do |f| %>
    <%= f.govuk_check_boxes_fieldset :signed, multiple: false, legend: { text: "Sign the memorandum of understanding", size: "l" } do %>

      <p class="govuk-body">
        You must sign a memorandum of understanding (MOU) to use GovWifi.
      </p>

      <p class="govuk-body"><%= link_to "GovWifi’s MOU (opens in another tab)", "https://docs.wifi.service.gov.uk/mou", target: "_blank", class: "govuk-body govuk-link govuk-link--no-visited-state", rel: "noopener" %>
      </p>

      <p class="govuk-body govuk-!-font-weight-bold">
        Accept terms
      </p>

      <% checked_value = current_organisation.mou.any?(&:signed) && !current_organisation.resign_mou? %>

      <%= f.govuk_check_box :signed, true, id: "accept_terms", multiple: false, link_errors: true, label: { text: "I accept these terms on behalf of #{current_organisation.name} and confirm that the organisation will be bound by them" }, checked: checked_value %>
    <% end %>

    <%= f.submit "Accept the MOU", class: "govuk-button govuk-!-margin-top-3" %>
  <% end %>

  <%= link_to "Contact GovWifi support", help_index_path, class: "govuk-link" %>
</div>
