<% content_for :page_title, "Overview" %>

<% unless @current_org_signed_mou %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-warning-text" id="mou-warning">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You must sign the GovWifi <%= link_to "memorandum of understanding", mou_index_path, class: "govuk-link govuk-link--no-visited-state" %> to use this service.
        </strong>
      </div>
    </div>
  </div>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full overview-section-alignment" id="overview">
    <h2 class="govuk-heading-l govuk-grid-column-full">Overview</h2>
    <div class="govuk-grid-column-one-third" id="team-members">
      <div class="overview-stats-panel govuk-panel--confirmation summary-background">
        <h1 class="govuk-panel__title text-left" id="team-members-count">
          <%= @team_members.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "Team members", memberships_path, class: "govuk-link govuk-link--no-visited-state summary-link-colour" %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" id="locations">
      <div class="overview-stats-panel govuk-panel--confirmation summary-background">
        <h1 class="govuk-panel__title text-left" id="locations-count">
          <%= @locations.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "Locations", ips_path, class: "govuk-link govuk-link--no-visited-state summary-link-colour" %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" id="ips">
      <div class="overview-stats-panel govuk-panel--confirmation summary-background">
        <h1 class="govuk-panel__title text-left" id="ips-count">
          <%= @ips.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "IP addresses", ips_path, class: "govuk-link govuk-link--no-visited-state summary-link-colour" %>
        </p>
      </div>
    </div>
  </div>
</div>
