<% content_for :page_title, "Sign in" %>
<% content_for :meta_description, "Sign in to manage an existing GovWifi installation in your organisation." %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Sign in to your GovWifi admin account</h2>

    <p class="govuk-body">
      Sign in to manage an existing GovWifi installation in your organisation.
    </p>

    <p class="govuk-body">
      If you manage public sector IT services and would like to make GovWifi
      available in your organisation, please review our
      <%= link_to "technical requirements.", SITE_CONFIG["organisation_docs_link"], class: "govuk-link" %>
    </p>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { novalidate: "" }) do |f| %>

        <div class="govuk-form-group">
          <%= f.label :email, class: "govuk-label" %>
          <%= f.email_field :email, autofocus: true, class: "govuk-input" %>
        </div>
        <div class="govuk-form-group">
          <%= f.label :password, class: "govuk-label" %>
          <%= f.password_field :password, class: "govuk-input", autocomplete: "off" %>
        </div>

        <div>
          <%= f.submit "Continue", class: "govuk-button govuk-!-margin-top-2" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
