<% content_for :page_title, "Sign in" %>
<% content_for :meta_description, "Sign in to manage an existing GovWifi installation in your organisation." %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sign in to your GovWifi admin account</h1>

    <p class="govuk-body">
      Sign in to manage an existing GovWifi installation in your organisation.
    </p>

    <p class="govuk-body">
      If you manage public sector IT services and would like to make GovWifi
      available in your organisation, please review our
      <%= link_to "technical requirements.", SITE_CONFIG["organisation_docs_link"], class: "govuk-link" %>
    </p>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
        <%= f.govuk_email_field :email %>
        <%= f.govuk_password_field :password %>
        <%= f.govuk_submit "Continue" %>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
