<nav class="govuk-body leftnav">
  <ul class="govuk-list">
      <li>
        <%= link_to "Locations", ips_path, id: "nav-ips", class: active_tab(ips_path, "locations") %>
      </li>
      <li>
        <%= link_to "Team members", memberships_path, class: active_tab(memberships_path, "/users") %>
      </li>
      <% if current_organisation&.ips&.empty? %>
        <li>
          <%= link_to "Settings", new_organisation_settings_path, class: active_tab(new_organisation_settings_path, "mou") %>
        </li>
      <% else %>
        <li>
          <%= link_to "Settings", settings_path, class: active_tab(settings_path, new_organisation_settings_path, "mou", "organisations") %>
        </li>
      <% end %>
      <li>
        <%= link_to "Logs", new_logs_search_path, class: active_tab("logs") %>
      </li>
  </ul>
</nav>
