<% content_for :page_title, "Assume membership" %>
<div class="govuk-body leftnav">
  <nav>
    <% if current_organisation.present? %>
      <ul class="govuk-list">
        <li>
          <%= link_to "Locations", ips_path, id: "nav-ips", class: active_tab(ips_path) %>
        </li>
        <% if current_organisation.cba_enabled? %>
        <li>
          <%= link_to "Certificates", certificates_path, class: active_tab(certificates_path) %>
        </li>
        <% end %>
        <li>
          <%= link_to "Team members", memberships_path, class: active_tab(memberships_path) %>
        </li>
        <% if current_organisation&.ips&.empty? %>
          <li>
            <%= link_to "Settings", new_organisation_settings_path, class: active_tab(new_organisation_settings_path) %>
          </li>
        <% else %>
          <li>
            <%= link_to "Settings", settings_path, class: active_tab(settings_path) %>
          </li>
        <% end %>
        <li>
          <%= link_to "Logs", new_logs_search_path, class: active_tab(new_logs_search_path) %>
        </li>
      </ul>
    <% end %>
    <% if super_admin? && current_organisation.present? %>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <% end %>
    <% if super_admin? %>
      <ul class="govuk-list">
        <li>
          <%= link_to "All Locations", super_admin_locations_path, class: active_tab(super_admin_locations_path) %>
        </li>
        <li>
          <%= link_to "All Organisations", super_admin_organisations_path, class: active_tab(super_admin_organisations_path) %>
        </li>
        <li>
          <%= link_to "Super admins", super_admin_users_path, class: active_tab(super_admin_users_path) %>
        </li>
        <li>
          <%= link_to "Allow list", new_super_admin_allowlist_path, class: active_tab(new_super_admin_allowlist_path) %>
        </li>
        <li>
          <%= link_to "User Details", super_admin_wifi_user_search_path, class: active_tab(super_admin_wifi_user_search_path) %>
        </li>
        <li>
          <%= link_to "Admin Details", super_admin_wifi_admin_search_path, class: active_tab(super_admin_wifi_admin_search_path) %>
        </li>
        <li>
          <%= link_to "Assume Membership", super_admin_change_organisation_path, class: active_tab(super_admin_change_organisation_path) %>
        </li>
      </ul>
    <% end %>
  </nav>
</div>
