<nav class="govuk-body leftnav">
  <ul class="govuk-list">
    <li>
      <%= link_to "Locations", super_admin_locations_path, class: active_tab(super_admin_locations_path) %>
    </li>
    <li>
      <%= link_to "Organisations", super_admin_organisations_path, class: active_tab(super_admin_organisations_path) %>
    </li>
    <li>
      <%= link_to "Super admins", super_admin_users_path, class: active_tab(super_admin_users_path) %>
    </li>
    <li>
      <%= link_to "Allow list", new_super_admin_whitelist_path, class: active_tab("whitelist") %>
    </li>
    <li>
      <%= link_to "MOU", super_admin_mou_index_path, class: active_tab(super_admin_mou_index_path) %>
    </li>
    <li>
      <%= link_to "Logs", new_logs_search_path, class: active_tab("logs") %>
    </li>
  </ul>
</nav>
