<div class="govuk-grid-row">
  <h2 class="govuk-heading-l govuk-grid-column-full" id="setup-header">Settings</h2>
    <div class="govuk-grid-column-three-quarters">
    <h3 class="govuk-heading-m">Sign the GovWifi Memorandum of understanding </h3>
    <p class="govuk-body">
      <%= link_to "Sign the memorandum of understanding (MOU)", mou_index_path, class: "govuk-link" %> with the Government Digital Service (GDS).
    </p>
    <p class="govuk-body">This must be done by someone in your organisation who has permission to sign off and procure services.</p>

    <div class="govuk-section-break--m govuk-section-break--visible"></div>

    <h3 class="govuk-heading-m">Connection details </h3>

    <p class="govuk-body">
      Typically, your authenticators are wireless access points or network switches.
    </p>

    <p class="govuk-body">
      Authenticators can usually be configured to connect to more than one RADIUS server. The extras are commonly known as "backups" or "failovers".
    </p>

    <p class="govuk-body">
      We recommend using all of our RADIUS servers, so that you'll be protected from a single server being unavailable. If you can't use them all, try to use at least one from each region.
    </p>

    <% if current_organisation.locations.empty? %>
      <p class="govuk-body">Your RADIUS secret keys will be generated when you <%= link_to 'add your first IP address', new_ip_path, class: "govuk-link" %></p>
    <% else %>
      <p class="govuk-body">Your RADIUS secret keys are shown under <%= link_to "your organisation's locations", ips_path, class: "govuk-link" %>.</p>
    <% end %>

    <h4 class="govuk-heading-s">London</h4>
    <ul class="plain-list" id="london-radius-ips">
      <% @london_radius_ips.each do |ip| %>
        <li><p class="govuk-body"><%= render partial: 'ips/ip_address', locals: { ip: ip } %></li>
      <% end %>
    </ul>

    <h4 class="govuk-heading-s">Dublin</h4>
    <ul class="plain-list" id="dublin-radius-ips">
      <% @dublin_radius_ips.each do |ip| %>
        <li><p class="govuk-body"><%= render partial: 'ips/ip_address', locals: { ip: ip } %></li>
      <% end %>
    </ul>

    <div class="govuk-section-break--m govuk-section-break--visible"></div>

    <p class="govuk-body"> You must check your firewall allows traffic on UDP ports 1812/1813. </p>
    <p class="govuk-body"> There may also be additional configuration to allow outbound traffic, depending on your local network. </p>

  </div>
</div>
