<% content_for :page_title, "Allow an organisation access to the admin platform" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "super_admin/whitelists/side_nav" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <%= form_with model: @custom_organisation, url: super_admin_whitelist_organisation_names_path do |f| %>

      <%= f.govuk_error_summary %>
      <%= render "confirm_remove_custom_organisation" if params[:remove_custom_org] %>
      <h1 class="govuk-heading-l">Allow an organisation access to the admin platform</h1>
      <%= label_tag "search_orgs_label", "Search for existing organisations on GovWifi before adding them", class: "govuk-label" %>
      <%= select_tag "organisations_register", options_for_select(@fetched_organisations_from_register << "", ""), class: "govuk-select" %>

      <%= f.govuk_text_field :name, label: { text: "Enter the organisation's full name" } %>
      <%= f.govuk_submit "Allow organisation" %>

      <table class="govuk-table">
      <h2 class="govuk-heading-m">Custom Organisations that are already in our register</h2>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Allowed on</th>
            <th class="govuk-table__header" scope="col"> </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @custom_organisation_names.each do |organisation| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= organisation.name %></td>
              <td class="govuk-table__cell"><%= organisation.created_at.strftime("%e %b %Y") %></td>
              <td class="govuk-table__cell"><%= link_to "Remove", super_admin_whitelist_organisation_names_path(id: organisation.id, remove_custom_org: true), class: "govuk-link red-link", id: "custom-organisation-#{organisation.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= render "shared/organisation_register_dropdown" %>
