  <h1 class="govuk-heading-l"> Organisation Settings</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group govuk-body-m" >

        <%= form_for @organisation do |edit_org| %>
          <%= edit_org.label "Organisation name", class: "govuk-label" %>
          <%= edit_org.text_field :name, class: "govuk-input" %><br />

          <%= edit_org.label "Service email", class: "govuk-label govuk-!-padding-top-4" %>
          <%= edit_org.text_field :service_email, class: "govuk-input govuk-!-margin-bottom-8" %><br />

          <%= edit_org.submit 'Save', class: 'govuk-button' %>
        <% end %>
      </div>
    </div>
  </div>
