<%= render "layouts/form_errors", resource: @organisation %>
  <h1 class="govuk-heading-l">Organisation Settings</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group govuk-body-m" >

        <%= form_for @organisation do |form| %>
          <%= form.label :name, "Organisation name", class: "govuk-label" %>
          <%= form.text_field :name, class: "govuk-input" %><br />

          <%= form.label :service_email, "Service email", class: "govuk-label govuk-!-padding-top-4" %>
          <%= form.text_field :service_email, class: "govuk-input govuk-!-margin-bottom-8"%><br />

          <%= form.submit 'Save', class: 'govuk-button' %>
        <% end %>
      </div>
    </div>
  </div>
