<% if @organisation.errors.any? %>
  <div class="govuk-error-summary">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @organisation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= link_to "Back to settings", organisation_path, class: "govuk-back-link" %>
<h1 class="govuk-heading-l">Edit Organisation Settings</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @organisation do |form| %>
      <div class="govuk-form-group" >
        <%= form.label :service_email, "Service email", class: "govuk-label" %>
        <div class="govuk-hint">A shared and monitored email, so we can contact your organisation</div>
        <% error_class = @organisation.errors.keys.include?(:service_email) ? "govuk-input--error" : "" %>
        <%= form.text_field :service_email, class: "govuk-input #{error_class}" %>
      </div>
      <%= form.submit 'Save', class: 'govuk-button' %>
    <% end %>
  </div>
</div>



