<% content_for :page_title, "Edit service email" %>

<%= form_with model: @organisation, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= form.govuk_error_summary %>
  <%= link_to "Back to settings", settings_path, class: "govuk-back-link" %>
  <h1 class="govuk-heading-l">Edit service email</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form.govuk_text_field :service_email,
                                label: { text: "Service email" },
                                hint: { text: "A shared and monitored email, so we can contact your organisation" } %>
      <%= form.govuk_submit "Save" %>
    </div>
  </div>
<% end %>
