<h1 class="govuk-heading-l">All organisations</h1>
<h3 class="govuk-heading-m">
  <%= pluralize(@all_organisations.count, 'organisation') %> are signed up to GovWifi
</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Name</th>
      <th class="govuk-table__header">Created on</th>
      <th class="govuk-table__header govuk-table__header">MOU</th>
      <th class="govuk-table__header govuk-table__header--numeric">Locations</th>
      <th class="govuk-table__header govuk-table__header--numeric">IPs</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @all_organisations.each do | organisation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell name-col" scope="row">
          <%= organisation.name %>
        </td>
        <td class="govuk-table__cell created-date-col" scope="row">
          <%= organisation.created_at.strftime('%e %b %Y') %>
        </td>
        <td class="govuk-table__cell govuk-table__cell mou-col" scope="row">
          <%= organisation.signed_mou.present? ? 'uploaded' : 'none' %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric location-count-col" scope="row">
          <%= organisation.locations.count %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric ip-count-col" scope="row">
          <%= organisation.ips.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
