<h1 class="govuk-heading-l">Signed Up Organisations: <%= @all_organisations.count %></h1>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%= sort_link "name" %></th>
      <th class="govuk-table__header"><%= sort_link "Created At" %></th>
      <th class="govuk-table__header">Service Email</th>
      <th class="govuk-table__header">MoU</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @all_organisations.each do | organisation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row"><%=  organisation.name %></td>
        <td class="govuk-table__cell" scope="row"><%=  organisation.created_at.strftime('%e %b %Y') %></td>
        <td class="govuk-table__cell" scope="row"><%=  truncate(organisation.service_email) %></td>
        <td class="govuk-table__cell" scope="row">
          <div>
            <% if organisation.signed_mou.attached? %>
              <%= link_to 'Download', rails_blob_path(organisation.signed_mou, disposition: "attachment") %>
            <% else %>
              No file uploaded yet
            <% end %>
          </div>
          <div>
            <%= form_with url: admins_mou_index_path(id: organisation.id), method: :post do |form| %>
              <%= form.file_field(:signed_mou) %>
              <%= form.submit('Upload') %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
