<% content_for :page_title, "Register an organisation" %>

<%= form_with model: @organisation,
              url: organisations_path,
              builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= form.govuk_error_summary %>
  <h1 class="govuk-heading-l">Add an organisation to GovWifi</h1>
  <% select_hint = capture do %>
    If your organisation name does not appear below
    <%= link_to "contact us", technical_support_new_help_path, class: "govuk-link" %>
  <% end %>
  <%= form.govuk_collection_select :name,
                                   organisation_options, :name, :name,
                                   hint: { text: select_hint },
                                   label: { text: "Organisation name" } %>
  <%= form.govuk_text_field :service_email,
                            label: { text: "Service email" },
                            hint: { text: "A shared and monitored email so we can contact your organisation about GovWifi" } %>
  <%= form.govuk_submit "Add organisation" %>
  <p class="govuk-body"><%= link_to "Cancel", :back, class: "govuk-link--no-visited-state" %></p>
<% end %>

<%= render "shared/organisation_register_dropdown" %>
