<% content_for :page_title, "Search logs by user details" %>
<%= form_with model: @form, url: super_admin_wifi_user_search_path do |f| %>
  <%= f.govuk_error_summary %>
  <div class='govuk-grid-row'>
    <header class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Search for user details</h1>
    </header>
    <div class='govuk-grid-column-two-thirds'>
      <div class="govuk-form-group">
        <%= f.govuk_text_field :search_term, width: 20, label: { text: "Username, email address or phone number" }, hint: { text: "Enter the username, email address, or phone number of the user you want to search for." }, aria: { describedby: "search_term_hint" } %>
      </div>
      <%= f.govuk_submit "Find user details" %>
      <% if @form_valid %>
        <div class="govuk-body">
          <% if @wifi_user.present? %>
            <h3 class="govuk-heading-s">User details for '<%= @form.search_term %>'</h3>
            <p class="govuk-body">
              Username: <%= link_to @wifi_user.username,
                                    logs_path(log_search_form: { username: @wifi_user.username,
                                                                 filter_option: LogSearchForm::USERNAME_FILTER_OPTION }),
                                    title: "Search logs for '#{@wifi_user.username}'" %>
            </p>
            <p class="govuk-body">
              Contact: <%= @wifi_user.contact %>
            </p>

            <%= link_to confirm_destroy_super_admin_wifi_user_search_path(search_form: { search_term: @form.search_term }),
                        class: "govuk-button red-button" do %>
              Remove user <span class='govuk-visually-hidden'>- <%= @wifi_user.contact %></span>
            <% end %>
          <% else %>
            <h3 class="govuk-heading-s">Nothing found for '<%= @form.search_term %>'</h3>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
