<ul class='govuk-list govuk-width-container govuk-!-margin-left-0'>
  <% team_members.each do |member| %>
    <li>
      <div class='govuk-grid-row'>
        <div class='govuk-grid-column-two-thirds'>

          <% if member.invitation_pending? %>
            <h3 class='govuk-heading-m govuk-!-margin-bottom-0 text-light-grey'><%= member.email +  "(invited)" %></h3>
          <% else %>
            <h3 class='govuk-heading-m govuk-!-margin-bottom-0'><%= member.name %>
              <span class='govuk-!-padding-left-1 govuk-body text-light-grey'><%= member.email %></span>
            </h3>
          <% end %>

          <ul class='govuk-list'>
            <li>
              <%= image_tag 'tick.svg', height: '20', alt: 'allowed' %>
              <span class='govuk-!-padding-left-1'>View logs</span>
            </li>
            <li>
              <%= image_tag 'tick.svg', height: '20', alt: 'allowed' %>
              <span class='govuk-!-padding-left-1'>View team members</span>
            </li>
            <li>
              <% if member.can_manage_team? %>
                <%= image_tag 'tick.svg', height: '20', alt: 'allowed' %>
                <span class='govuk-!-padding-left-1'>Add and remove team members</span>
              <% else %>
                <%= image_tag 'cross.svg', height: '20', alt: 'not allowed' %>
                <span class='govuk-!-padding-left-1 text-light-grey'>Add and remove team members</span>
              <% end %>
            </li>
            <li>
              <%= image_tag 'tick.svg', height: '20', alt: 'allowed' %>
              <span class='govuk-!-padding-left-1'>View locations and IPs</span>
            </li>
            <li>
              <% if member.can_manage_locations? %>
                <%= image_tag 'tick.svg', height: '20', alt: 'allowed' %>
                <span class='govuk-!-padding-left-1'>Add and remove locations and IPs</span>
              <% else %>
                <%= image_tag 'cross.svg', height: '20', alt: 'not allowed' %>
                <span class='govuk-!-padding-left-1 text-light-grey'>Add and remove locations and IPs</span>
              <% end %>
            </li>
          </ul>
        </div>

        <div class='govuk-grid-column-one-third govuk-list govuk-!-padding-right-4'style="text-align:right">
          <% if current_user.can_manage_team? && member.id != current_user.id %>
            <%= link_to 'Edit permissions', edit_team_member_path(member), class: "govuk-link" %>

            <% if member.invitation_pending? && current_user.can_manage_team? %>
            <%= button_to("Resend invite",
              user_invitation_path({ user: { email: member.email }}),
              method: :post, class: 'resend-invite-button')
            %>
            <% end %>
          <% end %>
      </div>
      </li>

    <hr class='govuk-section-break--l govuk-!-margin-top-0'>
  <% end %>
</ul>
