<%= render "confirm_remove_team_member" if @show_remove_partial %>
<h1 class="govuk-heading-m"><%= @user.name %> - <%= @user.email %></h1>

<div class="actions">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><span class="govuk-label">Permissions </span></legend>
      <div class="govuk-checkboxes">
        <%= form_for @user, url: team_member_path, html: { method: :put, novalidate: '' } do |form| %>
          <%= form.fields_for :permission, @user.permission do |permission_form| %>
            <div class="govuk-checkboxes__item">
              <%= permission_form.check_box :can_manage_team, class: 'govuk-checkboxes__input' %>
              <label class="govuk-label govuk-checkboxes__label"><%= permission_form.label :can_manage_team, 'Manage team' %></label>
            </div>

            <div class="govuk-checkboxes__item">
              <%= permission_form.check_box :can_manage_locations, class: 'govuk-checkboxes__input' %>
              <label class="govuk-label govuk-checkboxes__label"><%= permission_form.label :can_manage_locations, 'Manage locations' %></label>
            </div>
          <% end %>

          <%= form.submit 'Save', class: "govuk-button govuk-!-margin-top-4" %>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
