<%= link_to "Back to list", team_members_path, class: "govuk-back-link" %>
<%= render "confirm_remove_team_member" if params[:remove_team_member] %>

<h1 class="govuk-heading-l govuk-!-margin-bottom-2"><%= @user.name %></h1>
<p class="govuk-body"> <%= @user.email %> </p>

<div class="actions">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><span class="govuk-label">Permissions </span></legend>
      <div class="govuk-checkboxes">
        <%= form_for @user, url: team_member_path, html: { method: :put, novalidate: '' } do |form| %>
          <%= form.fields_for :permission, @user.permission do |permission_form| %>
            <div class="govuk-checkboxes__item">
              <%= permission_form.check_box :can_manage_team, class: 'govuk-checkboxes__input' %>
              <label class="govuk-label govuk-checkboxes__label"><%= permission_form.label :can_manage_team, 'Manage team' %></label>
            </div>

            <div class="govuk-checkboxes__item">
              <%= permission_form.check_box :can_manage_locations, class: 'govuk-checkboxes__input' %>
              <label class="govuk-label govuk-checkboxes__label"><%= permission_form.label :can_manage_locations, 'Manage locations' %></label>
            </div>
          <% end %>
            <p class="govuk-body govuk-!-margin-top-5"> All team members can view logs </p>

          <div class="govuk-!-margin-top-8">
            <%= form.submit 'Save', class: "govuk-button govuk-!-margin-0 govuk-!-margin-right-8 inline-block" %>

            <% unless params[:remove_team_member] %>
              <div class="govuk-body govuk-!-margin-top-2 inline-block">
                <%= link_to 'Remove user from GovWifi admin', edit_team_member_path(@user, remove_team_member: true), class: 'govuk-link red-link' %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </fieldset>
  </div>
</div>
