<div class="result-row">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
    <%= location.full_address %>
  </h2>
  <% if show_ip_controls %>
    <span class="govuk-caption-m govuk-!-margin-bottom-4">
      RADIUS secret key: <%= location.radius_secret_key %>
    </span>
    <% if current_user.can_manage_locations?(current_organisation) %>
      <div class="govuk-button-group">
        <%= link_to location_add_ips_path(location_id: location.id),
                    class: "govuk-button govuk-button--secondary govuk-!-margin-bottom-5",
                    role: "button", draggable: "false", "data-module" => "govuk-button" do %>
          Add IP addresses <span class='govuk-visually-hidden'>for <%= location.full_address %></span>
        <% end %>
        <%= link_to location_rotate_key_path(location, rotate: true),
                    class: "govuk-button govuk-button--secondary govuk-!-margin-bottom-5",
                    role: "button", draggable: "false", "data-module" => "govuk-button" do %>
          Rotate secret key <span class='govuk-visually-hidden'>for <%= location.full_address %></span>
        <% end %>
        <% if location.ips.empty? %>
          <%= link_to location_remove_path(location, remove: true),
                      class: "govuk-button govuk-button--warning govuk-!-margin-bottom-5",
                      role: "button", draggable: "false", "data-module" => "govuk-button" do %>
            Remove this location <span class='govuk-visually-hidden'>- <%= location.full_address %></span>
          <% end %>
          <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-9">
            Add the IP addresses of your authenticators to offer GovWifi at this location
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <table class="govuk-table govuk-!-margin-bottom-9">
    <tbody class="govuk-table__body">
    <% if location.sorted_ip_addresses.length == 0 %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          No registered IP addresses
        </td>
      </tr>
    <% end %>
    <% location.sorted_ip_addresses.each do |ip| %>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">
            <%= ip.address %>
          </th>
          <td class="govuk-table__cell govuk-!-width-one-quarter">
            <% if !ip.available? %>
              Available at 6am tomorrow
            <% elsif ip.unused? %>
              No traffic received
            <% elsif ip.inactive? %>
              No traffic in the last 10 days
            <% else %>
              Receiving traffic
            <% end %>
          </td>
          <%# Following cell not rendered to prevent overloading database for pages with many IPs %>
          <% if false %>
          <td class="govuk-table__cell govuk-!-width-one-quarter">
            <% if ip.available? && !ip.unused? && !ip.inactive? %>
              <%= ip.percent_success %>% success rate
            <% end %>
          </td>
          <% end %>
          <td class="govuk-table__cell govuk-!-width-one-quarter text-right">
            <ul class="plain-list govuk-!-margin-0">
              <% if ip.available? && !ip.unused? && !ip.inactive? %>
                <li>
                  <%= link_to "View logs", logs_path(ip: ip.address), class: "govuk-link" %>
                </li>
              <% end %>
              <% if show_ip_controls && current_user.can_manage_locations?(current_organisation) %>
                <li>
                  <%= link_to ip_remove_path(ip), class: "govuk-link govuk-link--no-visited-state" do %>
                    Remove <span class='govuk-visually-hidden'><%= ip.address %> from <%= location.full_address %></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
