<div class="govuk-grid-row">
  <h2 class="govuk-heading-l govuk-grid-column-full">Overview</h2>
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-panel govuk-panel--confirmation dashboard-background">
        <h1 class="govuk-panel__title text-left">
          <%= @team_members.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "Admins", team_members_path, class: "govuk-link govuk-link--no-visited-state dashboard-link-colour" %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-panel govuk-panel--confirmation dashboard-background">
        <h1 class="govuk-panel__title text-left">
          <%= @locations.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          Locations
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="govuk-panel govuk-panel--confirmation dashboard-background">
        <h1 class="govuk-panel__title text-left">
          <%= @ips.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "Active IPs", ips_path, class: "govuk-link govuk-link--no-visited-state dashboard-link-colour" %>
        </p>
      </div>
    </div>
  </div>
</div>
<%= link_to "Getting help", help_index_path, class: 'govuk-link' %>
