<div class="govuk-grid-row">
  <div class="govuk-grid-column-full overview-section-alignment" id="overview">
    <h2 class="govuk-heading-l govuk-grid-column-full">Overview</h2>
    <div class="govuk-grid-column-one-third" id="team-members">
      <div class="govuk-panel govuk-panel--confirmation summary-background">
        <h1 class="govuk-panel__title text-left">
          <%= @team_members.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "Team Members", settings_path, class: "govuk-link govuk-link--no-visited-state summary-link-colour" %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" id="locations">
      <div class="govuk-panel govuk-panel--confirmation summary-background">
        <h1 class="govuk-panel__title text-left">
          <%= @locations.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "Locations", ips_path, class: "govuk-link govuk-link--no-visited-state summary-link-colour" %>
        </p>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" id="ips">
      <div class="govuk-panel govuk-panel--confirmation summary-background">
        <h1 class="govuk-panel__title text-left">
          <%= @ips.count %>
        </h1>
        <p class="govuk-panel__body text-left govuk-!-font-size-27">
          <%= link_to "IPs", ips_path, class: "govuk-link govuk-link--no-visited-state summary-link-colour" %>
        </p>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-full" id="user-statistics">
    <hr class="govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l govuk-grid-column-full activity-section-alignment">Activity</h2>
    <div class="govuk-grid-column-full activity-section-alignment" id="unique-users">
      <% if @connections.zero? %>
        <p class="govuk-body"><strong>No connections</strong> to GovWifi within your organisation, in the last 24 hours.</p>
      <% else %>
        <p class="govuk-body"><strong><%= "#{pluralize(@connections, "connection")}" %></strong> to GovWifi in your organisation, in the last 24 hours.</p>
      <% end %>
    </div>
  </div>
</div>
