<h2 class="govuk-heading-m">Organisation</h2>

<table class="govuk-table govuk-!-margin-bottom-9">
  <caption class="govuk-visually-hidden">Settings</caption>
  <thead class="govuk-table__head govuk-visually-hidden">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Setting</th>
      <th scope="col" class="govuk-table__header">Value</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
        Service email
      </th>
      <td class="govuk-table__cell">
        <%= current_organisation.service_email %>
      </td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <%= link_to edit_organisation_path(current_organisation.id), class: "govuk-link govuk-link--no-visited-state" do %>
          Change <span class='govuk-visually-hidden'>service email</span>
        <% end %>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
        Memorandum of understanding (MOU)
      </th>
      <% if current_organisation.mous.present? %>
        <% if current_organisation.mous.last.name.nil? %>
          <td class="govuk-table__cell">
            <%= current_organisation.name %> signed the GovWifi MOU
          </td>
        <% else %>
          <td class="govuk-table__cell">
            Signed by <%= current_organisation.mous.last.name %> on <%= current_organisation.mous.last.formatted_date %>
          </td>
        <% end %>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <% if current_organisation.resign_mou? %>
            <%= link_to "Sign the MOU", show_options_mous_path, class: "govuk-link govuk-link--no-visited-state" %>
          <% else %>
            <%= link_to "https://www.wifi.service.gov.uk/memorandum-of-understanding/", target: "_blank", rel: "noopener" do %>
              Review <span class='govuk-visually-hidden'>memorandum of understanding</span>
            <% end %>
          <% end %>
        </td>
      <% else %>
        <td class="govuk-table__cell govuk-!-font-weight-bold">
          Not signed
          <% if current_organisation.nomination.present? %>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              <%= @nomination.name %> has been nominated to sign the MOU
            </p>
          <% else %>
            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
              A GovWifi admin from your organisation or someone nominated by your organisation must sign the MOU for your organisation to use GovWifi.
            </p>
            <div class="govuk-inset-text">
              A GovWifi admin is someone who manages GovWifi on behalf of your organisation.
            </div>
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <%= link_to "Sign the MOU", show_options_mous_path, class: "govuk-link govuk-link--no-visited-state" %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
