<h1 class="govuk-heading-l">You've entered the following info</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Question</th>
      <th class="govuk-table__header" scope="col">Your answer</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Does the organisation need to create a GovWifi admin account?</td>
      <td class="govuk-table__cell">TODO (Yes / No)</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Is the organisation's name on the register?</td>
      <td class="govuk-table__cell">TODO (Yes / No)</td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Organisation name</td>
      <td class="govuk-table__cell"><%= params.dig(:whitelist, :organisation_name) %></td>
    </tr>

    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Email domain</td>
      <td class="govuk-table__cell"><%= params.dig(:whitelist, :email_domain) %></td>
    </tr>
  </tbody>
</table>

<%= form_with model: @whitelist, url: admin_whitelist_path do |form| %>
  <div class="govuk-form-group">
    <%= form.hidden_field :organisation_name, value: params.dig(:whitelist, :organisation_name) %>
    <%= form.hidden_field :email_domain, value: params.dig(:whitelist, :email_domain) %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "govuk-button" %>
  </div>
<% end %>
