<% if params[:username].present? %>
  <%= link_to "Search by a different username", username_new_admin_logs_search_path, class: "govuk-back-link" %>
<% end %>

<% if @logs.present? %>
  <h1 class="govuk-heading-l">Found <%= pluralize(@logs.count, "result") %> for "<%= params[:username] %>"</h1>

  <div class="govuk-inset-text">
    <h4 class="govuk-heading-s">Filtered results</h4>
    <p class="govuk-body">
      Only requests from your organisation's IPs are shown.

    <p class="govuk-body">
      <% if @logs.count >= Gateways::Sessions::MAXIMUM_RESULTS_COUNT %>
        Only the 500 most recent logs are shown.
      <% else %>
        Results older than two weeks are not shown.
      <% end %>
    </p>

    <p class="govuk-body">
      If you need more logs, <%= link_to "contact us", signed_in_new_help_path, class: "govuk-link" %>.
    </p>
  </div>
  <table class="govuk-table">
    <caption class="govuk-table__caption"></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Username</th>
        <th class="govuk-table__header" scope="col">Access Point</th>
        <th class="govuk-table__header" scope="col">MAC Address</th>
        <th class="govuk-table__header" scope="col">IP</th>
        <th class="govuk-table__header" scope="col">Time</th>
        <th class="govuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @logs.each do |log| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= log.fetch(:username) %></td>
          <td class="govuk-table__cell"><%= log.fetch(:ap) %></td>
          <td class="govuk-table__cell"><%= log.fetch(:mac) %></td>
          <td class="govuk-table__cell"><%= log.fetch(:site_ip) %></td>
          <td class="govuk-table__cell"><%= log.fetch(:start) %></td>
          <td class="govuk-table__cell"><%= log.fetch(:success) ? 'successful' : 'failed' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-grid-column-three-quarters">
      <% if params[:username].present? %>
        "<%= params[:username] %>" <strong>isn't reaching the GovWifi service</strong>
      <% elsif params[:location] %>
        Traffic from <%= @location_address %> <strong>isn't reaching the GovWifi service</strong>
      <% else %>
        Traffic from <%= params[:ip] %> <strong>isn't reaching the GovWifi service</strong>
      <% end %>
    </h1>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-inset-text govuk-!-margin-top-0">
        <h4 class="govuk-heading-s">Filtered results</h4>
        <p class="govuk-body">
          Only requests from your organisation's IPs are shown.
        </p>

        <p class="govuk-body">
          Both successful and failed authentications are shown.
        </p>

        <p class="govuk-body">
          Results older than two weeks are not shown.
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-body">
        If you were expecting to see results, we recommend:
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Checking your <%= link_to 'configured IP addresses', ips_path, class: "govuk-link" %> match your authenticator IPs </li>
        <li>Checking your authenticators have the right RADIUS secret keys</li>
        <li><%= link_to 'Browsing the technical documentation', SITE_CONFIG['organisation_docs_link'], class: "govuk-link" %></li>
      </ul>

      <p class="govuk-body"> If you still need help, <%= link_to "contact us", signed_in_new_help_path, class: "govuk-link" %></p>
    </div>
  </div>
<% end %>
