<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Memorandum of Understanding</h2>
    <p class="govuk-body">Admins can upload a copy of a GDS signed MOU.</p>
    <p class="govuk-body">Be aware that any version of the MOU template that is uploaded will be visible to all organisations requesting to sign up to GovWifi.</p>
    <hr class="govuk-section-break--m govuk-section-break--visible">
    <% if @mou.unsigned_document.attached? %>
      <p class="govuk-body"><%= link_to "Download current template", rails_blob_path(@mou.unsigned_document, disposition: "attachment") %></p>
    <% end %>
    <h3 class="govuk-heading-m">Upload Template</h3>
    <p class="govuk-body"> </p>
    <p class="govuk-body"> </p>
    <%= form_with url: admins_mou_index_path, method: 'post', class: 'govuk-form-group' do |form| %>
      <%= form.label :unsigned_mou, 'Select template file', class: 'govuk-label' %>
      <%= form.file_field(:unsigned_document) %>
      <p>
        <%= form.submit('Upload', class: 'govuk-button') %>
      </p>
    <% end %>
    <div class="govuk-inset-text">
      Any new uploads will overwrite the existing file.
    </div>
    <p class="govuk-body"></p>
  </div>
</div>

<%= link_to "Getting help", help_index_path, class: 'govuk-link' %>
