<% content_for :page_title, "Memorandum of understanding" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Memorandum of understanding</h1>
    <p class="govuk-body">Admins can upload a copy of a GDS signed MOU.</p>
    <p class="govuk-body">Be aware that any version of the MOU template that is uploaded will be visible to all organisations requesting to sign up to GovWifi.</p>
    <hr class="govuk-section-break--m govuk-section-break--visible">
    <% if @mou.unsigned_document.attached? %>
      <%= link_to "Download current template", rails_blob_path(@mou.unsigned_document, disposition: "attachment"), class: "govuk-link" %>
      <h2 class="govuk-heading-m">Replace Template</h2>
    <% else %>
      <p class="govuk-body">There is no uploaded MOU for organisations to access.</p>
      <h2 class="govuk-heading-m">Upload template</h2>
    <% end %>
    <p class="govuk-body"> </p>
    <p class="govuk-body"> </p>
    <%= form_with url: super_admin_mou_index_path do |form| %>
      <%= form.govuk_file_field :unsigned_document, label: { text: "Select template file" } %>
      <%= form.govuk_submit("#{@mou.unsigned_document.attached? ? 'Replace' : 'Upload'} MOU") %>
    <% end %>
    <div class="govuk-inset-text">
      Any new uploads will overwrite the existing file.
    </div>
    <p class="govuk-body"></p>
  </div>
</div>

<%= link_to "Getting help", help_index_path, class: "govuk-link" %>
