<h1 class="govuk-heading-l">All organisations</h1>
<h3 class="govuk-body">
  GovWifi is in
  <span class="govuk-!-font-weight-bold">
    <%= pluralize(@location_count, 'location') %>
  </span>
   across
  <span class="govuk-!-font-weight-bold">
    <%= pluralize(@organisations.count, 'organisation') %>.
  </span>
</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half"><%= sort_link "name" %></th>
      <th class="govuk-table__header"><%= sort_link "created_at", "Created on" %></th>
      <th class="govuk-table__header govuk-table__header"><%= sort_link "active_storage_attachments.created_at", "MoU Signed" %></th>
      <th class="govuk-table__header govuk-table__header--numeric">Locations</th>
      <th class="govuk-table__header govuk-table__header--numeric">IPs</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @organisations.each do |organisation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half" scope="row">
          <%= link_to organisation.name, admin_organisation_path(organisation), class: "govuk-link" %>
        </td>
        <td class="govuk-table__cell" scope="row">
          <%= organisation.created_at.strftime('%e %b %Y') %>
        </td>
        <td class="govuk-table__cell govuk-table__cell" scope="row">
          <% if organisation.signed_mou.attached? %>
            <%= organisation.signed_mou.attachment.created_at.strftime('%e %b %Y') %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= organisation.locations.count %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= organisation.ips.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
