<h1 class="govuk-heading-l">Summay of all organisations</h1>

<div class="govuk-grid-column admin-panel-stats-container">
  <div class="govuk-grid-column-one-third" id="locations">
    <div class="govuk-heading-l" style="text-align: left;">
    <strong class="total-org-stat-results-title"><%= @total_number_of_locations%></strong>
      <br>
      <p class="govuk-body govuk-!-font-size-24">Locations </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third" id="organisations">
    <div class="govuk-heading-l" style="text-align: left;">
    <strong class="total-org-stat-results-title"><%= @total_number_of_organisations%></strong>
      <br>
      <p class="govuk-body govuk-!-font-size-24">Organisations </p>
    </div>
  </div>

  <div class="govuk-grid-column-one-third" id="ips">
    <div class="govuk-heading-l" style="text-align: left;">
    <strong class="total-org-stat-results-title"><%= @total_number_of_ips%></strong>
      <br>
      <p class="govuk-body govuk-!-font-size-24">Ip addresses </p>
    </div>
  </div>
</div>

<h1 class="govuk-heading-l">All organisations</h1>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-width-one-half"><%= sort_link "name" %></th>
      <th class="govuk-table__header"><%= sort_link "created_at", "Created on" %></th>
      <th class="govuk-table__header govuk-table__header"><%= sort_link "active_storage_attachments.created_at", "MoU Signed" %></th>
      <th class="govuk-table__header govuk-table__header--numeric">Locations</th>
      <th class="govuk-table__header govuk-table__header--numeric">IPs</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @organisations.each do |organisation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-half" scope="row">
          <%= link_to organisation.name, admin_organisation_path(organisation), class: "govuk-link" %>
        </td>
        <td class="govuk-table__cell" scope="row">
          <%= organisation.created_at.strftime('%e %b %Y') %>
        </td>
        <td class="govuk-table__cell govuk-table__cell" scope="row">
          <% if organisation.signed_mou.attached? %>
            <%= organisation.signed_mou.attachment.created_at.strftime('%e %b %Y') %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= organisation.locations.count %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= organisation.ips.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
