<h1 class="govuk-heading-l">All organisations</h1>
<h3 class="govuk-heading-m">
  <%= pluralize(@organisations.count, 'organisation') %> are signed up to GovWifi
</h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header"><%= sort_link "name" %></th>
      <th class="govuk-table__header"><%= sort_link "created_at", "Created on" %></th>
      <th class="govuk-table__header govuk-table__header">MoU Signed</th>
      <th class="govuk-table__header govuk-table__header--numeric">Locations</th>
      <th class="govuk-table__header govuk-table__header--numeric">IPs</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @organisations.each do |organisation| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" scope="row">
          <%= organisation.name %>
        </td>
        <td class="govuk-table__cell" scope="row">
          <%= organisation.created_at.strftime('%e %b %Y') %>
        </td>
        <td class="govuk-table__cell govuk-table__cell" scope="row">
          <% if organisation.signed_mou.attached? %>
            <%= organisation.signed_mou.attachment.created_at.strftime('%e %b %Y') %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= organisation.locations.count %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" scope="row">
          <%= organisation.ips.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
