<% content_for :page_title, "Change your password" %>

<%= form_with model: resource, as: resource_name,
              url: password_path(resource_name),
              method: :put do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Change your password</h1>

      <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
        <%= f.hidden_field :reset_password_token %>
        <%= f.govuk_password_field :password, label: { text: "New password" }, autocomplete: "new-password" %>
        <%= f.govuk_submit "Change my password" %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
