<%= render "layouts/form_errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Change your password</h2>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="<%= field_error(resource, :password) %>">
          <div class="govuk-form-group">
            <%= f.label :password, "New password", class: "govuk-label" %>
            <%= f.password_field :password, autofocus: true, class: "govuk-input", autocomplete: "off", required: true %>
          </div>

          <div class="govuk-form-group">
            <%= f.label :password_confirmation, "Confirm new password", class: "govuk-label" %>
            <%= f.password_field :password_confirmation, class: "govuk-input", autocomplete: "off", required: true %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Change my password", class: "govuk-button govuk-!-margin-top-2" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
