<%= render "layouts/form_errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Reset your GovWifi network admin account password</h2>

    <%= render "users/shared/end_user_warning" %>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, novalidate: '' }) do |f| %>
        <div class="govuk-form-group">
          <%= f.label :email, "Provide your email address", class: "govuk-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "govuk-button govuk-!-margin-top-2" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
