<div id="wrapper">
  <div class="govuk-grid-row">
      <div aria-live="polite">
        <table class="govuk-table govuk-!-margin-bottom-9">
          <caption class="govuk-visually-hidden">Settings</caption>
          <thead class="govuk-table__head govuk-visually-hidden">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Setting</th>
              <th scope="col" class="govuk-table__header">Value</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>        
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Name
              </th>
              <td class="govuk-table__cell">
                <%= @certificate.name %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                 <% if current_user.can_manage_locations?(current_organisation) and not params[:confirm_remove] %>
                  <%= link_to edit_certificate_path(@certificate, confirm_remove: true), method: :delete, class: "govuk-link red-link govuk-link--no-visited-state" do %>
                    Remove <span class='govuk-visually-hidden'><%= @certificate.serial_number %> from <%= @certificate.name %></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Thumbprint
              </th>
              <td class="govuk-table__cell">
                <%= @certificate.thumbprint %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Serial
              </th>
              <td class="govuk-table__cell">
                <%= @certificate.serial_number %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Valid From
              </th>
              <td class="govuk-table__cell">
                  <%= @certificate.valid_from %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Expires
              </th>
              <td class="govuk-table__cell">
                  <%= @certificate.valid_to %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Issuer
              </th>
              <td class="govuk-table__cell">
                <%= @certificate.issuer %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell govuk-!-width-one-third">
                Subject
              </th>
              <td class="govuk-table__cell">
                <%= @certificate.subject %>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>  
</div>
