<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>
    <%= link_to "Back to search options", new_logs_search_path, class: "govuk-back-link" %>
  </div>

  <h1 class='govuk-heading-l govuk-grid-column-full''>Search logs by IP address </h1>

  <div class='govuk-grid-column-two-thirds'>
    <%= form_for @search do |f| %>
      <div class='govuk-form-group'>
        <%= f.label :term, 'IP address', class: 'govuk-label' %>
        <%= f.text_field :term, class: 'govuk-input' %>
      </div>
      <%= f.hidden_field :by %>
      <%= f.submit 'Show logs', class: 'govuk-button' %>
    <% end %>
  </div>
</div>
