<% content_for :page_title, "Search logs by IP address" %>

<%= form_with model: @search, local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
  <%= f.govuk_error_summary %>
  <div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
      <%= link_to "Back to search options", new_logs_search_path, class: "govuk-back-link" %>
    </div>

    <h1 class='govuk-heading-l govuk-grid-column-full'>Search logs by IP address </h1>

    <div class='govuk-grid-column-two-thirds'>
      <%= f.govuk_text_field :search_term, label: { text: "IP address" } %>
      <%= f.hidden_field :filter %>
      <%= f.govuk_submit "Show logs" %>

      <p class='govuk-body'> Or, click "view logs" from <%= link_to "your list of IP addresses", ips_path %></p>
    </div>
  </div>
<% end %>
