<% content_for :page_title, "Start logs search" %>

<div class='govuk-grid-row'>
  <h1 class='govuk-heading-l govuk-grid-column-full'>Logs</h1>

  <div class='govuk-grid-column-full'>
    <p class='govuk-body'>
      Logs are kept for recent authentication requests made to the GovWifi service.
    </p>

    <%= form_with model: log_search_form, url: logs_path, method: :get do |form| %>
      <%= form.govuk_error_summary %>
      <%= form.govuk_radio_buttons_fieldset(:filter_option, legend: { text: "How do you want to filter these logs?" }) do %>
        <% unless current_organisation.nil?  || current_organisation.locations.empty? %>
          <%= form.govuk_radio_button :filter_option, LogSearchForm::LOCATION_FILTER_OPTION, label: { text: "Location" } do %>
            <%= form.govuk_collection_select :location_id, log_search_form.ordered_locations_of(current_organisation), :id, :full_address,
                                             label: { text: "Select location" } %>
          <% end %>
        <% end %>
        <%= form.govuk_radio_button :filter_option, LogSearchForm::USERNAME_FILTER_OPTION, label: { text: "Username" } do %>
          <%= form.govuk_text_field :username, width: 10,
                                               label: { text: "Enter username" } %>
        <% end %>
        <%= form.govuk_radio_button :filter_option, LogSearchForm::IP_FILTER_OPTION, label: { text: "IP address" }  do %>
          <%= form.govuk_text_field :ip, width: 10,
                                         label: { text: "Enter an IP address associated within your organisation" } %>
        <% end %>
      <% end %>
      <%= form.govuk_submit "Show logs" %>
    <% end %>
  </div>
</div>
