<% content_for :page_title, "Start logs search" %>

<div class='govuk-grid-row'>
  <h1 class='govuk-heading-l govuk-grid-column-full'>Logs</h1>
  <div class='govuk-grid-column-full'>
    <%= form_with model: @search, url: logs_searches_path, method: :post, local: true,
                  builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= form.govuk_error_summary %>
      <p class='govuk-body'>
        Logs are kept for recent authentication requests made to the GovWifi service.
      </p>
      <%= form.govuk_radio_buttons_fieldset :filter, legend: { text: "How do you want to filter these logs?" } do %>
        <%= form.govuk_radio_button :filter, :location, label: { text: "Location" }, link_errors: true unless super_admin? %>
        <%= form.govuk_radio_button :filter, :username, label: { text: "Username" }, link_errors: super_admin? %>
        <%= form.govuk_radio_button :filter, :ip, label: { text: "IP address" } %>
        <%= form.govuk_radio_button :filter, :email, label: { text: "Email address" } if super_admin? %>
        <%= form.govuk_radio_button :filter, :phone, label: { text: "Phone number" } if super_admin? %>
      <% end %>
      <%= form.hidden_field :first_step, value: true %>
      <%= form.govuk_submit "Go to search" %>
    <% end %>
  </div>
</div>
