<div class="govuk-grid-column-two-thirds">
  <%= form_with model: log_search_form, url: logs_path, method: :get,
                builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
    <%= form.hidden_field :filter_option %>
    <%= form.hidden_field :username %>
    <%= form.hidden_field :ip %>
    <%= form.hidden_field :location %>
    <%= form.govuk_select :success,
                          options_for_select([["All", nil], %w[Successful true], %w[Failed false]]),
                          label: { text: "Status type:" } %>
    <%= form.govuk_submit "Filter" %>
  <% end %>
</div>
