<% content_for :page_title, "Results - logs search" %>

<p class="govuk-!-margin-bottom-6">
  <a href="<%= new_logs_search_path %>" class="govuk-back-link">Change search</a>
</p>

<% if logs.present? %>
  <h1 class="govuk-heading-l">
    Found <%= pluralize(logs.count, "result") %> for
    <% if log_search_form.username %>
      username:
    <% elsif log_search_form.ip %>
      IP:
    <% else %>
      location:
    <% end %>
    "<%= log_search_form.username || log_search_form.ip || location_address %>"
  </h1>

  <p class="govuk-body govuk-!-font-size-24">
    <% if log_search_form.ip %>
      IP address <%= log_search_form.ip %> is located at <%= @current_location.full_address %>
    <% end %>
  </p>

  <%= render "logs/filtered_results_explanation", logs: %>

  <%= render "logs/filter_logs_select", log_search_form: %>

  <table class="govuk-table">
    <caption class="govuk-table__caption"></caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <% unless log_search_form.username %>
          <th class="govuk-table__header" scope="col">Username or ID</th>
        <% end %>
        <% if log_search_form.ip && current_organisation&.cba_enabled? %>
          <th class="govuk-table__header" scope="col">Authentication Method</th>
        <% end %>
        <th class="govuk-table__header" scope="col">Access Point</th>
        <th class="govuk-table__header" scope="col">MAC Address</th>
        <% unless log_search_form.ip %>
          <th class="govuk-table__header" scope="col">IP</th>
        <% end %>
        <th class="govuk-table__header" scope="col">Time (UTC)</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <% if super_admin? %>
          <th class="govuk-table__header" scope="col">
            <span style="white-space: nowrap;">Radius Server task id</span>
            <span class="govuk-!-font-size-14">(super admin only)</span>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% logs.each do |log| %>
        <tr class="govuk-table__row">
          <% unless log_search_form.username %>
            <td class="govuk-table__cell">
              <% if log.username.present? %>
                <%= link_to log.username, logs_path(log_search_form: { username: log.username, filter_option: LogSearchForm::USERNAME_FILTER_OPTION }), class: "govuk-link" %>
              <% end %>
            </td>
          <% end %>
          <% if log_search_form.ip && current_organisation&.cba_enabled? %>
            <td class="govuk-table__cell"><%= log.eap_tls? ? "EAP-TLS" : "MSCHAP" %></td>
          <% end %>
          <td class="govuk-table__cell"><%= log.ap %></td>
          <td class="govuk-table__cell"><%= log.mac %></td>
          <% unless log_search_form.ip %>
            <td class="govuk-table__cell">
            <%= link_to log.siteIP, logs_path(log_search_form: { ip: log.siteIP, filter_option: LogSearchForm::IP_FILTER_OPTION }), class: "govuk-link" %>
            </td>
          <% end %>
          <td class="govuk-table__cell"><%= log.start.to_fs(:no_timezone) %></td>
          <td class="govuk-table__cell"><%= log.success ? "successful" : "failed" %></td>
          <% if super_admin? %>
            <td class="govuk-table__cell"><%= log.task_id %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-grid-column-three-quarters">
      <% if !super_admin? && log_search_form.filter_option==LogSearchForm::IP_FILTER_OPTION && !current_organisation.ip_addresses.include?(log_search_form.ip) %>
        This is not an IP address associated with your organisation
      <% elsif log_search_form.success == 'false' %>
        There are no failed authentication results within the last 2 weeks
      <% elsif log_search_form.filter_option==LogSearchForm::USERNAME_FILTER_OPTION %>
        We have no record of username "<%= log_search_form.username %>" <strong> reaching the GovWifi service from your organisation in the last 2 weeks</strong>
      <% elsif log_search_form.filter_option==LogSearchForm::LOCATION_FILTER_OPTION %>
        Traffic from <%= location_address %> <strong>is not reaching the GovWifi service</strong>
      <% elsif log_search_form.filter_option==LogSearchForm::IP_FILTER_OPTION %>
        We have no record of authentication requests from IP address <%= log_search_form.ip %> <strong>in the last 2 weeks</strong>
      <% end %>
    </h1>

    <%= render "logs/filtered_results_explanation", logs: %>

    <%= render "logs/no_logs_explanation" %>
  </div>
<% end %>
