<%= link_to "Back to search", new_logs_search_path, class: "govuk-back-link" %>

<% if @logs.present? %>
  <h1 class="govuk-heading-l">Displaying logs for <%= params[:username] || params[:ip] %></h1>

  <div class="govuk-inset-text">
    <h4 class="govuk-heading-s">Some user activity is not shown</h4>
    <p class="govuk-body">
      Only requests from your organisation's IPs are shown.

    <p class="govuk-body govuk-!-padding-top-0">
      Results older than two weeks are not shown.
    </p>
  </div>

  <% if @logs.count >= Gateways::Sessions::MAXIMUM_RESULTS_COUNT %>
    <div class="govuk-details">
      <div class="govuk-details__text">
        <p class="govuk-body">
          Logs are limited to 500 results. If you require more logs than this, please
          <%= link_to "contact us", help_index_path, class: "govuk-link" %>.
        </p>
      </div>
    </div>
  <% end %>

  <table class="govuk-table">
    <caption class="govuk-table__caption"><%= @logs.count %> results</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Username</th>
        <th class="govuk-table__header" scope="col">Access Point</th>
        <th class="govuk-table__header" scope="col">MAC Address</th>
        <th class="govuk-table__header" scope="col">IP</th>
        <th class="govuk-table__header" scope="col">Time</th>
        <th class="govuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @logs.each do |log| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell "><%= log.fetch(:username) %></td>
          <td class="govuk-table__cell "><%= log.fetch(:ap) %></td>
          <td class="govuk-table__cell "><%= log.fetch(:mac) %></td>
          <td class="govuk-table__cell "><%= log.fetch(:site_ip) %></td>
          <td class="govuk-table__cell "><%= log.fetch(:start) %></td>
          <td class="govuk-table__cell "><%= log.fetch(:success) ? 'successful' : 'failed' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3 class="govuk-heading-m">No authentication requests found for username: <%= params[:username] %></h3>
    <p class="govuk-body">
      If this user has tried to connect GovWifi, there is likely a problem with the local network forwarding authentication requests.
    </p>
<% end %>
