<%= link_to "Back to search", search_logs_path, class: "govuk-back-link" %>

<% if @logs.empty? %>
  <h3 class="govuk-heading-m">No results found for that username, please try again</h3>
<% else %>
  <h1 class="govuk-heading-l">Displaying logs for <%= @logs.first.fetch("username") %></h1>
  <table class="govuk-table">
    <caption class="govuk-table__caption"><%= @logs.count %> results</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Username</th>
        <th class="govuk-table__header" scope="col">Access Point</th>
        <th class="govuk-table__header" scope="col">MAC Address</th>
        <th class="govuk-table__header" scope="col">IP</th>
        <th class="govuk-table__header" scope="col">Time</th>
        <th class="govuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @logs.each do |log| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= log.fetch("username") %></td>
          <td class="govuk-table__cell"><%= log.fetch("ap") %></td>
          <td class="govuk-table__cell"><%= log.fetch("mac") %></td>
          <td class="govuk-table__cell"><%= log.fetch("siteIP") %></td>
          <td class="govuk-table__cell"><%= log.fetch("start").split(" +").first %></td>
          <td class="govuk-table__cell"><%= log.fetch("success") ? "successful" : "failed" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
