<div class='govuk-grid-row subnav govuk-!-margin-0'>
  <div class='govuk-grid-column-one-quarter govuk-grid-column-one-third-from-desktop govuk-!-padding-left-0 organisation-name'>
    <p class='govuk-body govuk-!-margin-0 govuk-!-padding-0'>
      <% if current_user.super_admin? %>
        <strong>GovWifi Super Admin</strong>
      <% else %>
        <strong><%= current_organisation.name %></strong>
      <% end %>
    </p>
  </div>

  <div class='govuk-grid-column-three-quarters govuk-grid-column-two-thirds-from-desktop govuk-!-padding-0 nav-links'>
    <nav class='govuk-body govuk-!-margin-bottom-0'>
      <% if current_user.super_admin? %>
        <%= link_to 'Organisations', admin_organisations_path, class: active_tab(admin_organisations_path) %>
        <%= link_to 'Allow Organisations', admin_custom_organisations_path, class: active_tab(admin_custom_organisations_path) %>
        <%= link_to 'MOU', admin_mou_index_path, class: active_tab(admin_mou_index_path) %>
        <%= link_to 'Logs', new_logs_search_path, class: active_tab('logs') %>
        <%= link_to 'Whitelisted Domains', admin_authorised_email_domains_path, class: active_tab(admin_authorised_email_domains_path) %>
      <% else %>
        <%= link_to 'Overview', overview_index_path, class: active_tab(overview_index_path) %>
        <% if current_organisation.ips.empty? %>
          <%= link_to 'Setup', new_organisation_setup_instructions_path, class: active_tab(new_organisation_setup_instructions_path) + active_tab('mou') %>
          <%= link_to 'IPs', new_org_ips_path, id: 'nav-ips', class: active_tab('ips') + active_tab('locations') %>
        <% else %>
          <%= link_to 'Setup', setup_instructions_path, class: active_tab(setup_instructions_path) + active_tab('mou') %>
          <%= link_to 'IPs', ips_path, id: 'nav-ips', class: active_tab('ips') + active_tab('locations') %>
        <% end %>
        <%= link_to 'Logs', new_logs_search_path, class: active_tab('logs') %>
        <%= link_to 'Team', team_members_path, class: active_tab('team') + active_tab('user') %>
      <% end %>
    </nav>
  </div>
</div>
