<div class="govuk-grid-row subnav">
  <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
    <p class="govuk-body organisation-name">
      <strong><%= current_organisation.name %></strong>
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0 govuk-!-padding-right-0">
    <nav class="govuk-body govuk-!-margin-bottom-0 ">
    <% if current_user.admin? %>
      <%= link_to "Organisations", organisations_path, class: active_tab(organisations_path) %>
      <%= link_to "MOU", admins_mou_index_path, class: active_tab(admins_mou_index_path) %>
    <% else %>
      <%= link_to "Overview", root_path, class: active_tab(root_path) %>
      <%= link_to "MOU", organisations_mou_index_path, class: active_tab(organisations_mou_index_path) %>
      <%= link_to "Team members", team_members_path, class: active_tab(team_members_path) %>
      <%= link_to "Settings", ips_path, class: active_tab(ips_path) %>
    <% end %>
    </nav>
  </div>
</div>
