<div class="govuk-grid-row subnav">
  <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
    <p class="govuk-body organisation-name">
    <% unless current_user.super_admin? %>
      <strong><%= current_organisation.name %></strong>
    <% end %>
    </p>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-0 govuk-!-padding-right-0 flex-end">
    <nav class="govuk-body govuk-!-margin-bottom-0 ">
    <% if current_user.super_admin? %>
      <%= link_to "Organisations", admin_organisations_path, class: active_tab(admin_organisations_path) %>
      <%= link_to "MOU", admin_mou_index_path, class: active_tab(admin_mou_index_path) %>
    <% else %>
      <% if current_organisation.ips.count != 0 %>
        <%= link_to "Overview", root_path, class: active_tab(root_path) %>
      <% end %>
      <%= link_to "Setting Up", setup_index_path, class: active_tab(setup_index_path) %>
      <%= link_to 'Organisation', organisation_path(current_organisation), class: active_tab("organisation") %>
      <%= link_to "Team members", team_members_path, class: "#{active_tab("team")}" + "#{active_tab("user")}"%>
      <%= link_to "Settings", ips_path, class: active_tab("ips") %>
      <%= link_to 'Logs', search_logs_path, class: active_tab("logs") %>
    <% end %>
    </nav>
  </div>
</div>
