<% content_for :page_title, "Invite a team member to be an administrator" %>

<%= form_with model: @user_invitation_form, url: user_invitation_path do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Invite a team member to be an administrator</h1>
      <div class="govuk-inset-text">
        There must be a minimum of 2 administrators to add IPs<br /> or multiple locations.
      </div>
      <p class="govuk-body">
        You can skip this step for now, but you’ll need to add another admin before you can access the full functionality of GovWifi.
        <br />
        <br />
        Two admins are required so that you can access your account if you lose your 2FA details or device. It also helps ensure that there’s a contact for GovWifi in your organisation if someone leaves.
        <p class="govuk-body">Administrators can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view locations and IPs, team members, and logs</li>
          <li>manage locations and IPs</li>
          <li>add or remove team members</li>
        </ul>
      </p>

      <h1 class="govuk-heading-l">Invite a team member</h1>
      <div class="govuk-grid-column-full govuk-!-padding-left-0">
        <%= f.govuk_email_field :email, label: { text: "Email address of team member" } %>
        <%= f.hidden_field :permission_level, value: "administrator" %>
        <%= f.hidden_field :source, value: "invite_admin" %>
        <%= f.govuk_submit "Invite as an admin" %>

        <p class="govuk-body"><%= link_to "Skip for now", ips_path, class: "govuk-link--no-visited-state" %></p>
      </div>
    </div>
  </div>
<% end %>
