<%= render "layouts/form_errors" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to "Back to list", team_members_path, class: "govuk-back-link" %>
    <h2 class="govuk-heading-l">
      Invite a team member
    </h2>

    <div class="govuk-details">
      <div class="govuk-details__text">
        <p class="govuk-body">
          Team members will receive an email invitation to join your organisation's GovWifi Admin dashboard.
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, novalidate: '' } do |f| %>

        <div class="govuk-form-group <%= field_error(resource, :email) %>">
          <%= f.label :email, "Email address", class: "govuk-label"  %>
          <div class="govuk-hint">Must be a valid government email address</div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input" %>
        </div>

        <div class="actions">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"><span class="govuk-label">Permissions </span></legend>
              <div class="govuk-checkboxes">
                <%= f.fields_for :permission, resource.permission || resource.build_permission(can_manage_team: true, can_manage_locations: true) do |p| %>
                  <div class="govuk-checkboxes__item">
                    <%= p.check_box :can_manage_team, class: 'govuk-checkboxes__input' %>
                    <label class="govuk-label govuk-checkboxes__label"><%= p.label :can_manage_team, 'Manage team' %></label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <%= p.check_box :can_manage_locations, class: 'govuk-checkboxes__input' %>
                    <label class="govuk-label govuk-checkboxes__label"><%= p.label :can_manage_locations, 'Manage locations' %></label>
                  </div>
                <% end %>
              </div>
            </fieldset>

            <p class="govuk-body govuk-!-margin-top-5"> All team members can view logs </p>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Send invitation email", class: "govuk-button govuk-!-margin-top-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
