<% content_for :page_title, "Invite a team member" %>

<%= form_with model: @user_invitation_form, url: user_invitation_path do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-left-0">
      <h1 class="govuk-heading-l">
        Invite a team member
        <% if super_admin? %>
          to <%= @target_organisation.name %>
        <% end %>
      </h1>

      <%= f.govuk_email_field :email, label: { text: "Email address" }, hint: { text: "Enter the email address of the person you want to invite." } %>
        <%= f.govuk_collection_radio_buttons(:permission_level, @permission_level_data, :value, :text, :hint, legend: { size: "m", text: "Permission level" }) %>
      <% if super_admin? %>
        <%= hidden_field_tag :organisation_id, @target_organisation.id %>
      <% end %>

      <%= f.govuk_submit "Send invitation email" %>

      <p class="govuk-body">
        <% if super_admin? %>
          <%= link_to "Cancel", super_admin_organisation_path(@target_organisation.id), class: "govuk-link--no-visited-state" %>
        <% else %>
          <%= link_to "Cancel", memberships_path, class: "govuk-link--no-visited-state" %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
