<% content_for :page_title, "Invite a team member" %>

<%= form_for(resource,
             as: resource_name,
             url: invitation_path(resource_name),
             builder: GOVUKDesignSystemFormBuilder::FormBuilder,
             html: { method: :post, novalidate: "" }) do |f| %>

  <%= f.govuk_error_summary %>

  <% if super_admin? %>
    <%= link_to "Back to organisation", super_admin_organisation_path(@target_organisation.id), class: "govuk-back-link" %>
    <h1 class="govuk-heading-l">Invite a team member to <%= @target_organisation.name %> </h1>
  <% else %>
    <%= link_to "Back to list", memberships_path, class: "govuk-back-link" %>
    <h1 class="govuk-heading-l">Invite a team member</h1>
  <% end %>

  <div class="govuk-grid-column-full govuk-!-padding-left-0">
    <%= f.govuk_email_field :email, label: { text: "Email address" } %>

    <div class="actions">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-1"><span class="govuk-label">Permissions </span></legend>
          <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input type="checkbox" class='govuk-checkboxes__input' checked disabled>
                <label class="govuk-label govuk-checkboxes__label">View logs</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input type="checkbox" class='govuk-checkboxes__input' checked disabled>
                <label class="govuk-label govuk-checkboxes__label">View team members</label>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag :can_manage_team, true, true, class: "govuk-checkboxes__input" %>
              <label class="govuk-label govuk-checkboxes__label"><%= label_tag :can_manage_team, "Add and remove team members" %></label>
              </div>
              <div class="govuk-checkboxes__item">
                <input type="checkbox" class='govuk-checkboxes__input' checked disabled>
                <label class="govuk-label govuk-checkboxes__label">View locations and IP addresses</label>
              </div>
              <div class="govuk-checkboxes__item">
                <%= check_box_tag :can_manage_locations, true, true, class: "govuk-checkboxes__input" %>
                <label class="govuk-label govuk-checkboxes__label"><%= label_tag :can_manage_locations, "Add and remove locations and IP addresses" %></label>
              </div>
              <% if super_admin? %>
                <%= hidden_field_tag :organisation_id, @target_organisation.id %>
            <% end %>
          </div>
        </fieldset>
      </div>
    </div>

    <%= f.govuk_submit "Send invitation email" %>
  </div>
<% end %>
