<% content_for :page_title, "Memorandum of understanding for nominated user" %>

<%= form_with model: @mou, url: create_nominated_mou_path do |f| %>
  <%= f.govuk_error_summary %>
  <h1 class="govuk-heading-l">Read and Accept the Terms for GovWifi</h1>
  <h2 class="govuk-heading-m">Read the MOU</h2>
  <p class="govuk-body govuk-!-margin-bottom-0">
    For your organisation to use GovWifi, you must read and accept GovWifi’s MOU.
  </p>
  <p class="govuk-body">
    Read or
    share <%= link_to "GovWifi MOU (opens in another tab)", "https://www.wifi.service.gov.uk/memorandum-of-understanding/", target: "_blank", class: "govuk-link--no-visited-state", rel: "noopener" %>
    .
  </p>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      You must read the MOU before you sign.
    </strong>
  </div>

  <h2 class="govuk-heading-m">Sign MOU by providing a digital signature</h2>
  <%= f.govuk_text_field :name, width: "two-thirds", label: { size: "s", text: "Name" } %>
  <%= f.govuk_email_field :email_address, width: "two-thirds", label: { size: "s", text: "Email" } %>
  <%= f.govuk_text_field :job_role, width: "two-thirds", label: { size: "s", text: "Job role" } %>
  <%= f.hidden_field :token, value: @token %>
  <h3 class="govuk-heading-s">Accept terms</h3>
  <%= f.govuk_check_box :signed, true, false, multiple: false, link_errors: true, label: { text: "I confirm that I have the authority to accept these terms and that #{@organisation.name} will be bound by them." } %>
  <%= f.govuk_submit "Accept the MOU" %>
<% end %>

<p class="govuk-body">This will send an email to <%= @organisation.name %> confirming that you have signed the MOU.</p>
