<% content_for :page_title, "Bulk upload" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-quarters">
    <%= form_with url: upload_locations_csv_path, model: @upload_form, multipart: true  do |form| %>
      <%= form.govuk_error_summary %>
      <header>
        <h1 class="govuk-heading-l">Upload multiple locations and IPs</h1>
      </header>
      <p class="govuk-body">Follow these steps to upload multiple addresses and IPs:</p>

      <ol class="govuk-list govuk-list--number">
        <li>
          <%= link_to "Download the bulk upload template", download_locations_upload_template_path, class: "govuk-link--no-visited-state" %>
        </li>
        <li>
          Enter the addresses and IP details in the template. Save the file as a csv.
        </li>
        <li>
          Upload your completed csv file.
        </li>
      </ol>

      <br>

      <div class="govuk-form-group">
        <%= form.govuk_file_field :upload_file, label: { text: "Upload completed template" }, hint: { text: "The file should be in CSV format and follow the provided template." }, aria: { describedby: "upload_file_hint" } %>
      </div>

      <%= form.govuk_submit "Upload" %>
    <% end %>
  </div>
</div>
