<div class='govuk-grid-row'>
  <div class='govuk-grid-column-two-thirds'>
    <%= link_to 'Back to list', ips_path, class: 'govuk-back-link' %>

    <h2 class='govuk-heading-l' id='title'>Add an IP address to <%= @location.address %></h2>

    <%= form_for @location do |f| %>
      <h3 class='govuk-heading-s'>Enter IP address (IPv4 only)</h3>

      <%= f.fields_for(:ips, @ips) do |ip| %>
        <% errors = ip.object.errors %>
          <div class='ip-row <%= errors.any? ? 'ip-row-error' : ''%>' >

          <% if errors.any? %>
            <p class='govuk-error-message'>
              <%= ip.object.errors.full_messages.first %>
            </p>
          <% end %>

          <%= ip.text_field :address, autocomplete: 'off',class: "govuk-input #{'govuk-input--error' if errors.any?}" %>
        </div>
      <% end %>

      <%= button_tag 'Add another IP address', type: :button, onclick: 'showExtraIpRow()', id: 'add-row-button', class: 'govuk-button' %>

      <div>
        <%= f.submit 'Add new IP address', class: 'govuk-button' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  window.onload = function() {
    rows = document.getElementsByClassName('ip-row');
    error_rows = document.getElementsByClassName('ip-row-error');

    window.counter = 1;

    btn = document.getElementById('add-row-button')
    btn.style.display = 'block';

    for (var i = 1; i < rows.length; i++) {
      rows[i].style.display = 'none';
    }

    for (var i = 0; i < error_rows.length; i++) {
      rows[i].style.display = 'block';
      btn = document.getElementById('add-row-button')
      btn.style.display = 'none';
    }
  }

  function showExtraIpRow(event, target) {
    var max_rows = 5

    rows = document.getElementsByClassName('ip-row');
    rows[window.counter].style.display = 'block';

    window.counter++;

    if(window.counter == max_rows) {
      btn = document.getElementById('add-row-button')
      btn.style.display = 'none';
    }
  }
</script>
