<% content_for :page_title, "Add location" %>

<%= render "layouts/form_errors", resource: @location %>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full'>
    <%= link_to 'Back to list', ips_path, class: 'govuk-back-link' %>
    <h2 class='govuk-heading-l'>Add a location</h2>
  </div>
  <div class='govuk-grid-column-full'>
    <%= form_for @location, html: { autocomplete: "off" } do |f| %>
      <div class="govuk-form-group">
        <%= f.label :address, class: 'govuk-label' %>
        <span class="govuk-hint">
          For example, 10 High Street, London
        </span>
        <% if @location.errors.attribute_names.include?(:address) %>
          <%= f.text_field :address, class: 'govuk-input govuk-input--error' %>
        <% else %>
          <%= f.text_field :address, class: 'govuk-input' %>
        <% end %>
      </div>
      <div class="govuk-form-group">
        <%= f.label :postcode, class: 'govuk-label' %>
        <% if @location.errors.attribute_names.include?(:postcode) %>
          <%= f.text_field :postcode, class: 'govuk-input govuk-input--width-10 govuk-input--error' %>
        <% else %>
          <%= f.text_field :postcode, class: 'govuk-input govuk-input--width-10' %>
        <% end %>
      </div>
      <div class='govuk-form-group govuk-!-margin-top-6'>
        <%= f.submit 'Add location', class: 'govuk-button' %>
      </div>
    <% end %>
  </div>
</div>
