<% content_for :page_title, "Add location" %>

<% if @location.errors.any? %>
  <div class="govuk-error-summary">
    <h2 class="govuk-error-summary__title">There is a problem</h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @location.errors.full_messages_for(:address).each do |message| %>
          <li><%= message %></li>
        <% end %>
        <% @location.errors.full_messages_for(:postcode).each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class='govuk-grid-row'>
  <div class='govuk-grid-column-full'>
    <%= link_to 'Back to list', ips_path, class: 'govuk-back-link' %>
    <h2 class='govuk-heading-l'>Add a location</h2>
  </div>
  <div class='govuk-grid-column-full'>
    <%= form_for @location, html: { autocomplete: "off" } do |f| %>
      <div class="govuk-form-group">
        <%= f.label :address, class: 'govuk-label' %>
        <span class="govuk-hint">
          For example, 10 High Street, London
        </span>
        <% if @location.errors.attribute_names.include?(:address) %>
          <%= f.text_field :address, class: 'govuk-input govuk-input--error' %>
        <% else %>
          <%= f.text_field :address, class: 'govuk-input' %>
        <% end %>
      </div>
      <div class="govuk-form-group">
        <%= f.label :postcode, class: 'govuk-label' %>
        <% if @location.errors.attribute_names.include?(:postcode) %>
          <%= f.text_field :postcode, class: 'govuk-input govuk-input--width-10 govuk-input--error' %>
        <% else %>
          <%= f.text_field :postcode, class: 'govuk-input govuk-input--width-10' %>
        <% end %>
      </div>
      <div class='govuk-form-group govuk-!-margin-top-6'>
        <%= f.submit 'Add location', class: 'govuk-button' %>
      </div>
    <% end %>
  </div>
</div>
