<h1 class="govuk-heading-l">Summary of upload</h1>

<p class="govuk-body-m">You have submitted <strong><%= @new_locations.size %></strong> addresses and <strong><%= @new_ips_total %></strong> IPs. You can review your uploaded locations before saving.</p>

<br>

<% if @parent_organisation.errors.present? %>
  <div class="govuk-error-summary" role="alert" data-module="govuk-error-summary" aria-labelledby="error-summary-title">
    <h2 id="error-summary-title" class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% @new_locations.each_with_index do |location, i| %>
          <% (location.errors.where(:address) + location.errors.where(:postcode)).first&.tap do |error| %>
            <li>
              <a href='#<%= upload_error_id_helper(i, location.address) %>'><%= error.full_message %></a>
            </li>
          <% end %>

          <% location.ips.each do |ip| %>
            <% ip.errors.first&.tap do |error| %>
              <li>
                <a href='#<%= upload_error_id_helper(i, location.address, ip.address) %>'>
                  <%= error.full_message %>
                </a>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <% @new_locations.each_with_index do |location, i| %>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              <% location_errors = (location.errors.where(:address) + location.errors.where(:postcode)) %>
              <div class="govuk-form-group <% if location_errors.any? %>govuk-form-group--error<% end %>">
                <% location_errors.first&.tap do |error| %>
                  <p class="govuk-error-message" id='<%= upload_error_id_helper(i, location.address) %>'>
                      <span class="govuk-visually-hidden">
                        Error:
                      </span>
                    <%= error.full_message %>
                  </p>
                <% end %>

                <h2 class="govuk-fieldset__heading">
                  <%= location.address %>, <%= location.postcode %>
                </h2>
              </div>
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-4" class="govuk-accordion__section-content ip-container" aria-labelledby="accordion-default-heading-4">

        <% location.ips.each do |ip| %>
          <div class='govuk-body'>
            <div class="govuk-form-group <% if ip.errors.any? %>govuk-form-group--error<% end %>">
              <% ip.errors.first&.tap do |error| %>
                <p class="govuk-error-message" id='<%= upload_error_id_helper(i, location.address, ip.address) %>'>
                  <span class="govuk-visually-hidden">
                    Error:
                  </span>
                  <%= error.full_message %>
                </p>
              <% end %>
              <label class="govuk-label">
                <%= ip.address %>
              </label>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>

<% if @parent_organisation.errors.empty? %>
  <%= form_with url: confirm_upload_url do |form| %>
    <% @upload_form.data.each_with_index do |row, row_index| %>
      <% row.each_with_index do |cell, column_index| %>
        <%= form.hidden_field "csv[#{row_index}][#{column_index}]", value: cell %>
      <% end %>
    <% end %>
    <%= form.govuk_submit "Save" %>
  <% end %>
<% end %>

<p class="govuk-body"><%= link_to "Cancel", bulk_upload_path, class: "govuk-link--no-visited-state" %></p>
