<% content_for :page_title, "Allow an organisation access to the admin platform" %>

<%= render "confirm_remove_custom_organisation" if params[:organisation_to_remove] %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render "super_admin/allowlists/side_nav" %>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Organisations allow list</h1>
      </div>
      <div class="govuk-grid-column-one-third text-right">
        <%= link_to "Allow an organisation", new_super_admin_allowlist_organisation_name_path, class: "govuk-button", role: "button", draggable: "false", "data-module" => "govuk-button" %>
      </div>
    </div>
    <%= label_tag "organisations_register", "Search for existing organisations on GovWifi before adding them", class: "govuk-label" %>
    <%= select_tag "organisations_register", options_for_select(@fetched_organisations_from_register, ""), class: "govuk-select", id: "organisations_register" %>
    <%# <%= label_tag "organisations_register","search_orgs_label", "Search for existing organisations on GovWifi before adding them", class: "govuk-label" %>
    <%# <%= select_tag "organisations_register", options_for_select(@fetched_organisations_from_register << "", ""), class: "govuk-select" %>

    <%= render "super_admin/allowlists/organisation_names/table", organisations: @custom_organisation_names %>
  </div>
</div>

<%= render "shared/organisation_register_dropdown" %>
