<%= render "layouts/form_errors", resource: resource %>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Change your password
    </h1>
  </legend>

<%= form_for(current_user, url: user_registration_path, method: :put) do |f| %>
  <div class="govuk-form-group">
    <%= f.label :current_password, class: "govuk-label" %>
    <%= f.password_field :current_password, class: "govuk-input" %>
  </div>
  <div class="govuk-form-group">
    <%= f.label :password, class: "govuk-label" %>
    <span class="password-strength" style="display: none; width: 100%; margin-bottom: 5px; background: linear-gradient(90deg, red, blue, green) 100% 0 / 500% 100%; transition: background-position 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) 0s; border-radius: 3px; padding: 0.5rem; color: #ddd; font-family: 'GDS Transport', Arial, sans-serif; text-align: center"></span>
    <%= f.password_field :password, class: "govuk-input" %>
  </div>
  <div class="govuk-form-group">
    <%= f.label :password_confirmation, class: "govuk-label" %>
    <%= f.password_field :password_confirmation, class: "govuk-input" %>
  </div>
  <%= f.submit "Submit", class: "govuk-button" %>
<% end %>
</fieldset>
