<% content_for :page_title, "Sign up your organisation to GovWifi" %>

<%= form_with model: resource,
              as: resource_name,
              url: registration_path(resource_name),
              novalidate: "" do |f| %>

  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sign up your organisation to GovWifi</h1>

      <%= render "users/shared/end_user_warning" %>

      <%= f.govuk_email_field(:email,
                              label: { text: "Email address" },
                              hint: { text: "The email address must be from a government or a public sector domain." }) %>

      <%= f.govuk_submit "Sign up" %>
    </div>
  </div>
<% end %>

<%= link_to "Sign in", new_session_path(resource_name), class: "govuk-link govuk-body" %>
