<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Welcome!</h1>
    <p class="govuk-body">
      We are glad you would like to sign up your organisation for GovWifi.
    </p>
    <p class="govuk-body">
      You have the option to sign up for a three month trial. After you have
      tested GovWifi, you can go live and scale it at your organisation for free!
    </p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="govuk-form-group govuk-!-margin-top-7">
        <%= f.label :email, "Provide your email address", class: "govuk-label"  %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "govuk-button govuk-!-margin-top-4" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
