<table class="govuk-table govuk-!-margin-bottom-8">
  <caption class="govuk-table__caption text-left govuk-!-font-size-24">
    <%= location.full_address %>
    <div class="govuk-body govuk-!-margin-bottom-2">
      RADIUS secret key:
      <div class="inline-block">
        <%= location.radius_secret_key %>
      </div>
    </div>
    <% if current_user.can_manage_locations? %>
      <p class="govuk-body govuk-!-margin-bottom-1 inline-block">
        <%= link_to "Add IP to this location", new_ip_path(location: location), class: "govuk-link" %>
      </p>
    <% end %>
  </caption>

  <tbody class="govuk-table__body" id="ips-table">
    <% location.ips.each do |ip| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third"><%= ip.address %></td>
        <% if ip.available? %>
          <td class="govuk-table__cell govuk-!-width-one-third">Available</td>
        <% else %>
          <td class="govuk-table__cell govuk-!-width-one-third text-red">Not available until 6am tomorrow
          </td>
        <% end %>
        <td class="govuk-table__cell text-right">
          <% if current_user.can_manage_locations? %>
            <%= link_to 'Remove', ip_remove_path(ip), class: "govuk-link" %>
          <% end %>
        </td>
        <td class="govuk-table__cell text-right">
          <%= link_to 'View logs', logs_path(ip: ip.address), class: "govuk-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
