<table class="govuk-table govuk-!-margin-bottom-8">
  <caption class="govuk-table__caption">
    <%= location.full_address %>
    <p class="govuk-body govuk-!-margin-bottom-2">
      <%= link_to "+ add IP", new_location_ip_path(location), class: "govuk-link" %>
    </p>
  </caption>
  <tbody class="govuk-table__body" id="ips-table">
    <% location.ips.each do |ip| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third"><%= ip.address %></td>
        <% if ip.available? %>
          <td class="govuk-table__cell govuk-!-width-one-third">Available</td>
        <% else %>
          <td class="govuk-table__cell govuk-!-width-one-third text-red">Not available until 6am tomorrow
          </td>
        <% end %>
        <td class="govuk-table__cell text-right">
          <% if current_user.can_manage_locations? %>
            <%= link_to 'Remove', ip_remove_path(ip), class: "govuk-link" %>
          <% end %>
        </td>
        <td class="govuk-table__cell text-right">
          <%= link_to 'View logs', logs_path(ip: ip.address), class: "govuk-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
