<table class="govuk-table result-row">
  <caption class="govuk-table__caption text-left govuk-!-font-size-24">
    <div class="filter-by">
      <%= location.full_address %>
    </div>
    <div class="govuk-body govuk-!-margin-bottom-2">
      RADIUS secret key:
      <div class="inline-block">
        <%= location.radius_secret_key %>
      </div>
    </div>
    <% if current_user.can_manage_locations?(current_organisation) %>
      <%= link_to 'Rotate secret key', location_rotate_key_path(location, rotate: true), class: "govuk-button red-button" %>
      <p class="govuk-body govuk-!-margin-bottom-1">
        <%= link_to "Add IP to this location", new_ip_path(location: location), class: "govuk-link" %>
      </p>
    <% end %>

    <% if current_user.can_manage_locations?(current_organisation) && location.ips.empty? %>
      <p class="govuk-body govuk-!-margin-bottom-1">
        <%= link_to 'Remove this location', location_remove_path(location, remove: true), class: "govuk-link" %>
      </p>
    <% end %>
  </caption>

  <tbody class="govuk-table__body" id="ips-table">
    <% location.ips.each do |ip| %>
      <tr class="govuk-table__row" id="ips-row-<%= ip.id %>">
        <td class="govuk-table__cell govuk-!-width-one-quarter"><%= ip.address %></td>
        <% if ip.available? %>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Available</td>
        <% else %>
          <td class="govuk-table__cell govuk-!-width-one-quarter text-red">Not available until 6am tomorrow
          </td>
        <% end %>
        <td class="govuk-table__cell govuk-!-width-one-quarter text-red">
          <% if ip.unused? %>
            No traffic received yet
          <% elsif ip.inactive? %>
            No traffic for the last 10 days
          <% end %>
        </td>
        <td class="govuk-table__cell text-right">
          <% if current_user.can_manage_locations?(current_organisation) %>
            <%= link_to 'Remove', ip_remove_path(ip), class: "govuk-link" %>
          <% end %>
        </td>
        <td class="govuk-table__cell text-right">
          <%= link_to 'View logs', logs_path(ip: ip.address), class: "govuk-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
