<table class="govuk-table result-row govuk-!-margin-bottom-7">
  <caption class="govuk-table__caption text-left govuk-!-font-size-24">
    <div class="filter-by govuk-!-margin-bottom-2">
      <%= location.full_address %>
    </div>
    <div class="govuk-body govuk-!-margin-bottom-2">
      RADIUS secret key:
      <div class="inline-block">
        <%= location.radius_secret_key %><% if current_user.can_manage_locations?(current_organisation) %>&ensp;<%= link_to 'Rotate secret key', location_rotate_key_path(location, rotate: true), class: "red-link" %><% end %>
      </div>
    </div>
    <% if current_user.can_manage_locations?(current_organisation) %>
      <%= link_to "Add an IP addresss to this location", new_ip_path(location: location), class: "govuk-button govuk-button--secondary govuk-!-margin-bottom-4" %>
    <% end %>

    <% if current_user.can_manage_locations?(current_organisation) && location.ips.empty? %>
      <p class="govuk-body govuk-!-margin-bottom-1">
        <%= link_to 'Remove this location', location_remove_path(location, remove: true), class: "red-link" %>
      </p>
    <% end %>
  </caption>

  <tbody class="govuk-table__body" id="ips-table">
    <% location.sorted_ip_addresses.each do |ip| %>
      <tr class="govuk-table__row" id="ips-row-<%= ip.id %>">
        <td class="govuk-table__cell govuk-!-width-one-third">
          <span class="ip-address"><% ip.address.split('.')[0...-1].each do |chunk| -%><%= chunk -%><span class="ip-address-separator">.</span><% end -%><%= ip.address.split('.').last %></span>
        </td>
        <% if ip.available? %>
          <td class="govuk-table__cell ">
            <% if ip.unused? %>
              No traffic received yet
            <% elsif ip.inactive? %>
              No traffic in the last 10 days
            <% else %>
              Receiving traffic (<%= link_to 'view logs', logs_path(ip: ip.address), class: "govuk-link" %>)
            <% end %>
          </td>
        <% else %>
          <td class="govuk-table__cell text-light-grey">
            Available at 6am tomorrow
          </td>
        <% end %>
        <td class="govuk-table__cell text-right">
          <% if current_user.can_manage_locations?(current_organisation) %>
            <%= link_to 'Remove', ip_remove_path(ip), class: "govuk-link" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
