<table class="govuk-table">
  <caption class="govuk-table__caption">
    <%= location.full_address %>
  <details class="govuk-details govuk-!-margin-bottom-0 govuk-!-margin-top-2">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View radius secret key
    </span>
  </summary>
  <div class="govuk-details__text">
  <%= location.radius_secret_key %>
  </div>
</details>
  </caption>
  <tbody class="govuk-table__body" id="ips-table">
    <% location.ips.each do |ip| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-third"><%= ip.address %></td>
        <% if ip.available? %>
          <td class="govuk-table__cell govuk-!-width-one-third">Available</td>
        <% else %>
          <td class="govuk-table__cell govuk-!-width-one-third text-red">Not available until 6am tomorrow
          </td>
        <% end %>
        <td class="govuk-table__cell text-right">
          <% if current_user.can_manage_locations? %>
            <%= link_to 'Remove', ip_remove_path(ip), class: "govuk-link" %>
          <% end %>
        </td>
        <td class="govuk-table__cell text-right">
          <%= link_to 'View logs', logs_path(ip: ip.address), class: "govuk-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
