<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Locations</h2>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= link_to "Add IP", new_ip_path, class: "govuk-button",  style: "float:right;" %>
      </div>
    </div>

    <% if @ips.empty? %>
      <p class="govuk-body">
        You have not added any of your IPs, <%= link_to "add one now", new_ip_path, class: "govuk-link" %>
      </p>
    <% else %>
      <p class="govuk-body">
        <strong>Your Secret Key:</strong>
        <span class="float-right"><%= current_user.radius_secret_key %></span>
      </p>

      <%= render "ips/table", ips: @ips %>
    <% end %>

    <%= render "radius_details" %>
  </div>
</div>
