<% content_for :page_title, "Manage locations" %>

<div id='wrapper'>
  <div class="govuk-grid-row">
    <%= render "confirm_remove_ip" if @ip_to_delete && current_user.can_manage_locations?(current_organisation) %>
    <%= render "confirm_remove_location" if @location_to_delete && current_user.can_manage_locations?(current_organisation) %>
    <%= render "confirm_rotate_radius_key" if @key_to_rotate && current_user.can_manage_locations?(current_organisation) %>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Locations</h1>
    </div>
    <div class="govuk-grid-column-one-third text-right">
      <% if current_user.can_manage_locations?(current_organisation) %>
        <%= link_to "Add a location", new_location_path, class: "govuk-button govuk-!-margin-bottom-0", role: "button", draggable: "false", "data-module" => "govuk-button" %>
      <% end %>
    </div>
  </div>

  <% if current_organisation.locations.length > 1 %>
    <div class="govuk-!-padding-bottom-7">
      <%= form_with url: ips_path, method: "get", local: true, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
        <%= form.govuk_fieldset legend: { text: "Search by location or postcode" } do %>
          <%= form.govuk_text_field :search, value: params.fetch(:search, ""),
                                             label: { text: "Search by location or postcode", hidden: true },
                                             hint: { text: "For example, 'SW1A 2AA' or 'High Street'" },
                                             width: 10 %>
          <%= form.govuk_submit "Search" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%== pagy_nav_govuk(@pagy) %>
  <% if current_organisation.locations.empty? %>
    <p class="govuk-body result-row-empty">
      You need to add at least one location to offer GovWifi
    </p>
  <% else %>
    <div role="status">
      <p class="govuk-body" id="no-results" style="display: none">
        <strong>No results found</strong>
      </p>
    </div>
    <div aria-live="polite">
      <% @locations.each do |location| %>
        <%= render partial: "shared/manage_ips", locals: { location: location, show_ip_controls: true } %>
      <% end %>
    </div>
  <% end %>
  <%== pagy_nav_govuk(@pagy) %>
</div>
