<% content_for :page_title, "Manage locations" %>

<div id='wrapper'>
  <div class="govuk-grid-row">
    <%= render "confirm_remove_ip" if @ip_to_delete && current_user.can_manage_locations?(current_organisation) %>
    <%= render "confirm_remove_location" if @location_to_delete && current_user.can_manage_locations?(current_organisation) %>
    <%= render "confirm_rotate_radius_key" if @key_to_rotate && current_user.can_manage_locations?(current_organisation) %>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
      <h1 class="govuk-heading-l">Locations</h1>
    </div>
    <% unless current_organisation&.meets_invited_admin_user_minimum? %>
      <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-9">
        There must be a minimum of 2 administrators to add IPs<br />or multiple locations. <%= link_to "Invite a team member.", new_user_invitation_path, class: "govuk-link govuk-link--no-underline" %>
      </div>
    <% end %>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-button-group govuk-!-padding-0">
      <% if current_user.can_manage_locations?(current_organisation) %>
        <%= link_to "Add a location", new_location_path, class: "govuk-button govuk-!-margin-bottom-5", role: "button", draggable: "false", "data-module" => "govuk-button" %>
        <%= link_to "Upload Locations", bulk_upload_path, class: "govuk-button govuk-!-margin-bottom-5", role: "button", draggable: "false", "data-module" => "govuk-button" %>
        <%= link_to "Download Keys", download_keys_path, class: "govuk-button govuk-!-margin-bottom-5", role: "button", draggable: "false", "data-module" => "govuk-button" %>
      <% end %>
    </div>
  </div>
  <div class="govuk-grid-row">
  <% if current_organisation.locations.length > 1 %>
    <%= form_with url: ips_path, method: "get" do |form| %>
      <%= form.govuk_fieldset legend: { text: "Search by location, postcode or IP address" } do %>
        <%= form.govuk_text_field :search, value: params.fetch(:search, ""),
                                           label: { text: "Search by location, postcode or IP address", hidden: true },
                                           hint: { text: "For example, 'SW1A 2AA', 'High Street' or '78.22.233.40'" },
                                           width: 20 %>
        <%= form.govuk_submit "Search", class: "text-right" %>
      <% end %>
    <% end %>
  <% end %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

    <%== pagy_nav_govuk(@pagy) %>

    <% if current_organisation.locations.empty? %>
      <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-9">
        You need to add at least one location to offer GovWifi
      </div>
    <% elsif @locations.count==0 %>
      <h2 class="govuk-heading-m ">No results found</h2>
    <% else %>
      <div aria-live="polite">
        <% @locations.each do |location| %>
          <%= render partial: "shared/manage_ips", locals: { location:, show_ip_controls: true } %>
        <% end %>
      </div>
    <% end %>

    <%== pagy_nav_govuk(@pagy) %>
  </div>
</div>
