<div id='wrapper'>
  <div class="govuk-grid-row">
    <%= render "confirm_remove_ip" if @ip_to_delete && current_user.can_manage_locations?(current_organisation) %>
    <%= render "confirm_remove_location" if @location_to_delete && current_user.can_manage_locations?(current_organisation) %>
    <%= render "confirm_rotate_radius_key" if @key_to_rotate && current_user.can_manage_locations?(current_organisation) %>

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Locations</h1>
    </div>
    <div class="govuk-grid-column-one-third text-right">
      <% if current_user.can_manage_locations?(current_organisation) %>
        <% if current_organisation.locations.empty? %>
          <%= link_to 'Add IP address', new_location_path, class: "govuk-button govuk-!-margin-bottom-0" %>
        <% else %>
          <%= link_to 'Add IP address', new_ip_path, class: "govuk-button govuk-!-margin-bottom-0" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="govuk-!-padding-bottom-7">
    <input type="search" id="filter-input" placeholder="Search by location or postcode" class="govuk-input">
  </div>

  <% if current_organisation.locations.empty? %>
    <p class="govuk-body">
      You need to add the IPs of your authenticator(s).
    </p>
    <p class="govuk-body">If your authenticators are allocated IPs dynamically, you can use Firewall NAT rules, so that your requests come from consistent IPs.</p>

  <% else %>
    <p class="govuk-body" id="no-results" style="display: none">
      <strong>No results found</strong>
    </p>
    <% @locations.each do |location| %>
      <%= render "ips/table", location: location %>
    <% end %>
  <% end %>
</div>
<%= render "shared/filter_search" %>
