<%= render "layouts/form_errors", resource: @ip %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to "Back to list", ips_path, class: "govuk-back-link" %>

    <h2 class="govuk-heading-l">Add a new IP address</h2>

    <%= render "activation_notice" %>

    <%= form_with model: @ip do |form| %>
      <div class="govuk-form-group <%= field_error(@ip, :location_id) %>">
        <%= form.label :location, "Select an existing location", class: "govuk-label" %>
        <%= collection_select :ip, :location_id, @locations, :id, :full_address, {}, { class: "govuk-select" } %>
      </div>

      <div class="govuk-form-group <%= field_error(@ip, :address) %>">
        <%= form.label :ip, "Enter IP address (IPv4 only)", class: "govuk-label" %>
        <%= form.text_field :address, id: :address, autocomplete: "off", class: "govuk-input" %>
      </div>

      <div class="actions">
        <%= form.submit "Add new IP address", class: "govuk-button" %>
      </div>

      <p class="govuk-body"><strong>OR</strong></p>

      <p class='govuk-body'>
        <%= link_to "Add a new location", new_location_path, class: "govuk-link" %>
      </p>

    <% end %>
  </div>
</div>
