<%= render "layouts/form_errors", resource: @ip %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Add an IP</h2>

    <div class="govuk-body">
      <p>Only IPv4 addresses can be accepted</p>
      <ul>
        <li>Must not be an IPv6 Address</li>
        <li>Must not include a "/" (subnet IPv4)</li>
      </ul>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_with model: @ip do |form| %>
        <div class="govuk-form-group <%= field_error(@ip, :address) %>">
          <%= form.label :ip, "IP Address", class: "govuk-label"  %><br />
          <%= form.text_field :address, id: :address, autofocus: true, class: "govuk-input", required: true %>
        </div>

        <div class="actions">
          <%= form.submit "save", class: "govuk-button govuk-!-margin-top-4" %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render "activation_notice" %>
</div>
