<%= render "layouts/form_errors", resource: @ip %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= link_to "Back to list", ips_path(anchor: :ips), class: "govuk-back-link" %>

    <h2 class="govuk-heading-l">Add a new IP Address</h2>

    <%= render "activation_notice" %>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
      <%= form_with model: @ip do |form| %>
        <div class="govuk-form-group <%= field_error(@ip, :location_id) %>">
          <%= form.label :location_id, "Select your location", class: "govuk-label"  %><br />
          <%= form.select :location_id, @locations, class: "govuk-input" %>
        </div>

        <div class="govuk-form-group <%= field_error(@ip, :address) %>">
          <%= form.label :ip, "Enter IP Address (IPv4 only)", class: "govuk-label"  %><br />
          <%= form.text_field :address, id: :address, autofocus: true, autocomplete: "off", class: "govuk-input", required: true %>
        </div>

        <div class="actions">
          <%= form.submit "Add new IP Address", class: "govuk-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
