<div class="govuk-grid-row">
  <p class="govuk-body"><%= link_to "Back to list", ips_path, class: "govuk-back-link" %></p>
  
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      IP Added
    </h1>
    <p class="govuk-panel__body"><%= @ip.address %></p>
    <div class="govuk-panel__body">
       <strong>Your Secret Key</strong>
       <br>
       <%= current_user.radius_secret_key %>
    </div>
  </div>

  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-7">
    <h3 class="govuk-heading-m">24 Hours to Activate</h3>
    <p class="govuk-body">
      It will take 24 hours for your new IP to be activated. You will then be
      able to use the secret key above to configure your access points.
    </p>
    <p class="govuk-body">
      <%= link_to "How do I configure my access point?", "#", class: "govuk-link" %>
    </p>
    <p class="govuk-body">
      <%= link_to "How do I see if my IP is activated?", "#", class: "govuk-link" %>
    </p>
  </div>
</div>
